<footer class="footer">
    <section class="footer-container">
    <section class="footer-info">
        <h1>Envíos</h1>
        <p>Solo por estar registrado en TechHub tenés envíos gratis en todos nuestros productos.</p>
    </section>
    <section class="footer-info">
        <h1>Soporte</h1>
        <ul>
            <li><a href="">Devoluciones</a></li>
            <li><a href="">Preguntas frecuentes</a></li>
            <li><a href="mailto:mail-ficticio@techhub.com">Mail de soporte</a></li>
            <li><a href="tel:0123456789">Teléfono de soporte</a></li>
        </ul>
    </section>
    <section class="footer-info">
        <h1>Nosotros</h1>
        <p>Somos el grupo 14 de Digital House. Gracias por visitar nuestra página.</p>
    </section>
</section>
    <p class="copyright">Copyright© 1995-2023 TechHub.</p>
</footer>