<section class="register-container" id="form-container">
    
    <h1>Registro</h1>
    
    <section class="user-data">
        
        <div class="form-userdata">
        
            <div class="login"><button class="log-in-btn">¿Ya estás registrado?</button></div>
            <form class="form">
            <div class="form-group name-lastname">
                <input type="text" id="nombres" name="nombres" required placeholder="Nombres">
                <input type="text" id="apellido" name="apellido" required placeholder="Apellido">
            </div>
            <div class="form-group email">
                <input type="email" id="correo" name="correo" required placeholder="Email">
            </div>
            <div class="form-group password">
                <input type="password" id="password" name="password" required placeholder="Contraseña">
                <input type="password" id="confirm-password" name="confirm-password" required
                placeholder="Confirma contraseña">
            </div>
            </form>
        
            <h5 class="shipping-details"> <a data-toggle="collapse" aria-expanded="true"> Coloca tu dirección</a></h5>
        
        </div>
       
        <div class="form-adress">
            <form>
                <div class="form-group dni">
                    <input type="dni" id="dni" name="dni" required placeholder="DNI">
                </div>
                <div class="form-group street-number">
                    <input type="street" id="street" name="street" required placeholder="Calle">
                    <input type="number" id="number" name="number" required placeholder="Altura">
                </div>
                <div class="form-group floor-door">
                    <input type="floor" id="floor" name="floor" required placeholder="Piso">
                    <input type="door" id="door" name="door" required placeholder="Departamento">
                </div>
                <div class="form-group city">
                    <input type="city" id="city" name="city" required placeholder="Ciudad">
                </div>
                <div class="form-group province-postalcode">
                    <input type="province" id="province" name="province" required placeholder="Provincia">
                    <input type="postalcode" id="postalcode" name="postalcode" required placeholder="Codigo Postal">
                </div>
                <div class="form-group telephone">
                    <input type="telephone" id="telephone" name="telephone" required placeholder="Telefono">
                </div>
                
            
            </form>
       
        </div>
    
    </section>
    <section class="register-button">

        <button type="submit">Registrarte</button>
        <p>Ya tengo cuenta! <a href="../main/">Loguearme</a></p>
        
    </section>
</section>
