<section class="register-container">
    <h1>Registro</h1>
    <form action="" method="POST">
        <div class="form-contain-container">

            <div class="group">
                <input type="text" name="name" required placeholder="Nombre"><span class="bar"></span>
                <label for="name">Nombre</label>
            </div>
            <div class="group">
                <input type="text" name="lastname" required placeholder="Apellido"><span class="bar"></span>
                <label for="">Apellido</label>
            </div>
            <div class="group">
                <input type="email" name="email" required placeholder="E-mail"><span class="bar"></span>
                <label for="">E-mail</label>
            </div>
            <div class="group">
                <input type="password" name="password" required placeholder="Contraseña"><span class="bar"></span>
                <label for="">Contraseña</label>
            </div>
            <div class="group">
                <input type="password" name="confirm-password" required placeholder="Confirma contraseña"><span class="bar"></span>
                <label for="">Confirmar contraseña</label>
            </div>


        </div>

        <button type="submit">Registrarme</button>
        <p>¿Ya tenés cuenta? <a href="../main/">Ingresá</a></p>

    </form>
    
</section>