<header id="header">
    <section id="main-header">
        <section class="main-header-left">
            <a href="/"><img id="logo" src="/imgs/logo-iso/LogoTechHub_Principal.png" alt="logo"></a>
            <section class="left-list left-nav" id="left-nav">
                <div class="tienda-nav nav-button"><button><a href="/products"></a>Tienda</a></button></div>
                <div class="smartphone-nav nav-button">
                    <button>Smartphones</button>
                </div>
                <div class="smartwatch-nav nav-button"><button>Smartwatch</button></div>
                <div class="tablet-nav nav-button"><button>Tablets</button></div>
                <section class="main-drop-container">
                </section>
                <section class="drop-container drop-cont-smartphone">
                </section>
                <section class="drop-container drop-cont-smartwatch">
                </section>
                <section class="drop-container drop-cont-tablet">
                </section>
                        <article class="dropdown dropdown-smartphone">
                            <a href="">Galaxy S23</a>
                            <a href="">Galaxy Z</a>
                            <a href="">Galaxy S</a>
                            <a href="">Galaxy A34</a>
                            <a href="">Galaxy A54</a>
                        </article>
                        <article class="dropdown dropdown-smartwatch">
                            <a href="">Galaxy Watch5</a>
                            <a href="">Galaxy Watch5 Pro</a>
                        </article>
                        <article class="dropdown dropdown-tablet">
                            <a href="">Galaxy Tab S8</a>
                            <a href="">Galaxy Tab S8 Ultra</a>
                            <a href="">Galaxy Tab A</a>
                        </article>
            </section>
        </section>
        <%- include('./cart.ejs') %>
        <section class="main-header-right">
            <ul class="right-list">
                
                <li id="glass" onclick="openSearchBar()"><button><i class="fa-solid fa-magnifying-glass"></i></button></li>
                <li id="cart"><button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button></li>
                <li id="user" onclick="openNav()"><button><i class="fa-solid fa-user"></i></button></li>
                <li id="bars" onclick="openNav()"><button><i class="fa-solid fa-bars"></i></button></li>
                
            </ul>
        </section>        
        <%- include('./navbar.ejs') %>
    </section>
    <%- include('./searchbar.ejs') %>
    <nav class="brands">
        <a id="home-1" href="/apple"><img id="apple" src="/imgs/marcas-logos/Apple-logo-blanco.png" alt=""></a>
        <a id="home-2" href="/samsung"><img id="samsung"
            src="/imgs/marcas-logos/logo-samsung-nav-s-blanca.png"
            alt=""></a>
    </nav>
    
    <script src="/js/main.js"></script>
    
</header>
