<header>
    <section id="main-header">
        <section class="main-header-left">
            <a href="/"><img id="logo" src="/imgs/logo-iso/LogoTechHub_Principal.png" alt="logo"></a>
            <ul class="left-list left-nav" id="left-nav">
                <li><button>Tienda</button></li>
                <li><button>Smartphones</button></li>
                <li><button>Smartwatch</button></li>
                <li><button>Tablets</button></li>
            </ul>
        </section>
        <%- include('./cart.ejs') %>
        <section class="main-header-right">
            <ul class="right-list">

                <li id="glass" onclick="openSearchBar()"><button><i class="fa-solid fa-magnifying-glass"></i></button></li>
                <li id="cart"><button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button></li>
                <li id="user" onclick="openNav()"><button><i class="fa-solid fa-user"></i></button></li>
                <li id="bars" onclick="openNav()"><button><i class="fa-solid fa-bars"></i></button></li>

            </ul>
        </section>        
        <%- include('./navbar.ejs') %>
        <%- include('./log-in.ejs') %>
    </section>
    <%- include('./searchbar.ejs') %>
    <nav class="brands">
        <a id="home-1" href="/home-1"><img id="apple" src="/imgs/marcas-logos/Apple-logo-blanco.png" alt=""></a>
        <a id="home-2" href="/home-2"><img id="samsung"
            src="/imgs/marcas-logos/logo-samsung-nav-s-blanca.png"
            alt=""></a>
    </nav>
    
</header>

<script src="/js/main.js"></script>