<header>
    <section id="main-header">
        <section class="main-header-left">
            <a href="/"><img id="logo" src="/imgs/logo-iso/LogoTechHub_Principal.png" alt="logo"></a>
            <ul class="left-list">
                <li><button>Tienda Online</button></li>
                <li><button>Smartphones</button></li>
                <li><button>Smartwatch</button></li>
                <li><button>Tablets</button></li>
            </ul>
        </section>

        <section class="main-header-right">
            <ul class="right-list">
                <li id="glass"><button><i class="fa-solid fa-magnifying-glass"></i></button></li>
                <li id="cart"><button><i class="fa-solid fa-cart-shopping"></i></button></li>
                <li id="user"><button onclick="document.getElementById('id01').style.display='block'"><i class="fa-solid fa-user"></i></button></li>
                <li id="bars"><button><i class="fa-solid fa-bars"></i></button></li>
            </ul>
        </section>
    </section>
    <nav class="brands">
        <a id="home-1" href="/home-1"><img id="apple" src="/imgs/marcas-logos/Apple-logo-blanco.png" alt=""></a>
        <a id="home-2" href="/home-2"><img id="samsung"
            src="/imgs/marcas-logos/logo-samsung-nav-s-blanca.png"
            alt=""></a>
    </nav>
    
</header>