<section id="log-in-window">
    <section class="log-in-container">
        <h1>Log in</h1>
        <button class="close-window"><i class="fa-solid fa-xmark"></i></button>
        <form action="" method="POST" class="log-in-form">

            <div class="group">
                <input type="text" name="" id="name" required><span class="barra"></span>
                <label for="">Usuario o E-mail</label>
            </div>

            <div class="group">
                <input type="password" name="" id="name" required><span class="barra"></span>
                <label for="">Password</label>
            </div>

            <div class="sesion-input">
                <input type="checkbox" name="mantener-sesion" id="m-s"><label for="m-s">Mantener sesion
                    abierta</label>
            </div>

            <button type="submit">Ingresar</button>

            <p>¿No estás registrado? <a href="/register">Regístrate</a></p>
        </form>
    </section>
</section>