<section id="dropdown-container">
    <article class="dropdown dropdown-smartphone">
        <a href="">Galaxy S23</a>
        <a href="">Galaxy Z</a>
        <a href="">Galaxy S</a>
        <a href="">Galaxy A34</a>
        <a href="">Galaxy A54</a>
    </article>
    <article class="dropdown dropdown-smartwatch">
        <a href="">Galaxy Watch5</a>
        <a href="">Galaxy Watch5 Pro</a>
    </article>
    <article class="dropdown dropdown-tablet">
        <a href="">Galaxy Tab S8</a>
        <a href="">Galaxy Tab S8 Ultra</a>
        <a href="">galaxy Tab A</a>
    </article>
</section>