<ul class="right-floating-nav" id="right-floating-nav">
    <li><button class="closebtn-nav" onclick="closeNav()"><i class="fa-solid fa-xmark"></i></button></li>
    <li><button onclick="openLogIn()">Log In</button></li>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/home-1">Apple</a></li>
    <li><a href="/home-2">Samsung</a></li>
    <li><button>Tienda</button></li>
    <li><button>Smartphones</button></li>
    <li><button>Smartwatch</button></li>
    <li><button>Tablets</button></li>
</ul>