<a href="/products/:id/detail">
    <article class="productos-seleccionados">
        <div class="box-img-product">
            <img class="imagen-producto" src="/imgs/samsung/products/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
                alt="z-fold-4">
        </div>
    
        <div>
            <h2 class="titulo-producto-seleccionado">Galaxy S23 Ultra</h2>
            <p class="precio-producto">$00000</p>
        </div>
    </article>
</a>

<a href="">
    <article class="productos-seleccionados">
        <div class="box-img-product">
            <img class="imagen-producto" src="/imgs/samsung/products/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
                alt="z-fold-4">
        </div>
    
        <div>
            <h2 class="titulo-producto-seleccionado">Galaxy S23 Ultra</h2>
            <p class="precio-producto">$00000</p>
        </div>
    </article>
</a>

<article class="productos-seleccionados">
    <div class="box-img-product">
        <img class="imagen-producto" src="/imgs/samsung/products/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
            alt="z-fold-4">
    </div>

    <div>
        <h2 class="titulo-producto-seleccionado">Galaxy S23 Ultra</h2>
        <p class="precio-producto">$00000</p>
    </div>
</article>

<article class="productos-seleccionados">
    <div class="box-img-product">
        <img class="imagen-producto" src="/imgs/samsung/products/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
            alt="z-fold-4">
    </div>

    <div>
        <h2 class="titulo-producto-seleccionado">Galaxy S23 Ultra</h2>
        <p class="precio-producto">$00000</p>
    </div>
</article>

<article class="productos-seleccionados">
    <div class="box-img-product">
        <img class="imagen-producto" src="/imgs/samsung/products/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
            alt="z-fold-4">
    </div>

    <div>
        <h2 class="titulo-producto-seleccionado">Galaxy S23 Ultra</h2>
        <p class="precio-producto">$00000</p>
    </div>
</article>

<article class="productos-seleccionados">
    <div class="box-img-product">
        <img class="imagen-producto" src="/imgs/samsung/products/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
            alt="z-fold-4">
    </div>

    <div>
        <h2 class="titulo-producto-seleccionado">Galaxy S23 Ultra</h2>
        <p class="precio-producto">$00000</p>
    </div>
</article>

<article class="productos-seleccionados">
    <div class="box-img-product">
        <img class="imagen-producto" src="/imgs/samsung/products/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
            alt="z-fold-4">
    </div>

    <div>
        <h2 class="titulo-producto-seleccionado">Galaxy S23 Ultra</h2>
        <p class="precio-producto">$00000</p>
    </div>
</article>

<article class="productos-seleccionados">
    <div class="box-img-product">
        <img class="imagen-producto" src="/imgs/samsung/products/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
            alt="z-fold-4">
    </div>

    <div>
        <h2 class="titulo-producto-seleccionado">Galaxy S23 Ultra</h2>
        <p class="precio-producto">$00000</p>
    </div>
</article>

<article class="productos-seleccionados">
    <div class="box-img-product">
        <img class="imagen-producto" src="/imgs/samsung/products/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
            alt="z-fold-4">
    </div>

    <div>
        <h2 class="titulo-producto-seleccionado">Galaxy S23 Ultra</h2>
        <p class="precio-producto">$00000</p>
    </div>
</article>

<article class="productos-seleccionados">
    <div class="box-img-product">
        <img class="imagen-producto" src="/imgs/samsung/products/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
            alt="z-fold-4">
    </div>

    <div>
        <h2 class="titulo-producto-seleccionado">Galaxy S23 Ultra</h2>
        <p class="precio-producto">$00000</p>
    </div>
</article>

<article class="productos-seleccionados">
    <div class="box-img-product">
        <img class="imagen-producto" src="/imgs/samsung/products/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
            alt="z-fold-4">
    </div>

    <div>
        <h2 class="titulo-producto-seleccionado">Galaxy S23 Ultra</h2>
        <p class="precio-producto">$00000</p>
    </div>
</article>