<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/complete-purchase.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <script src="https://kit.fontawesome.com/f6363ebdc5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Document</title>
</head>

<body>
    <header>
        <section id="main-header">
            <section class="main-header-left">
                <img id="logo" src="/imgs/logo-iso/LogoTechHub_Principal.png" alt="">
                <ul class="left-list">
                    <li><button>Tienda Online</button></li>
                    <li><button>Smartphones</button></li>
                    <li><button>Smartwatch</button></li>
                    <li><button>Tablets</button></li>
                </ul>
            </section>

            <section class="main-header-right">
                <ul class="right-list">
                    <li id="glass"><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li id="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li id="user"><a href=""><i class="fa-solid fa-user"></i></a></li>
                    <li id="bars"><a href=""><i class="fa-solid fa-bars"></i></a></li>
                </ul>
            </section>
        </section>
        <nav class="brands">
            <a href=""><img id="apple" src="/imgs/Marcas-logos/Apple-logo-blanco.png" alt=""></a>
            <a href=""><img id="samsung" src="/imgs/Marcas-logos/logo-samsung-nav.png" alt=""></a>
        </nav>
    </header>
    <section class="purchase-content">
        <section class="title">
            <h2>Compra rapida</h2>
            <h4>Revisa tu pedido</h4>
        </section>
        <section class="cart-container">
            <section class="check-cart">
                <i class="fa-solid fa-cart-shopping cart-icon" style="color: #ccd2db;"></i>
                <span class="cart-title">RESUMEN DE PEDIDO</span>
            </section>

            <div class="cart-items p">
                <article class="item-p">
                    <img src="/imgs/Cart/img-macbook-pro-2019.jpg" alt="">
                    <div class="item-details-p">
                        <span class="item-title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                        <div class="select-quantity">
                            <div class="selector">
                                <span class="select">
                                    <button><i class="fa-solid fa-minus modify-quantity remove-quantity"></i></button>
                                    <input type="text" value="1" class="number" disabled>
                                    <button><i class="fa-solid fa-plus modify-quantity add-quantity"></i></button>
                                </span>
                                <span class="item-price">$ 25.000</span>
                                <button class="no-border"><i class="fa-regular fa-trash-can remove-item"></i></button>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="item-p">
                    <img src="/imgs/Cart/img-macbook-pro-2019.jpg" alt="">
                    <div class="item-details-p">
                        <span class="item-title-p">Lorem ipsum dolor</span>
                        <div class="select-quantity">
                            <div class="selector">
                                <span class="select">
                                    <button><i class="fa-solid fa-minus modify-quantity remove-quantity"></i></button>
                                    <input type="text" value="1" class="number" disabled>
                                    <button><i class="fa-solid fa-plus modify-quantity add-quantity"></i></button>
                                </span>
                                <span class="item-price">$ 25.000</span>
                                <button class="no-border"><i class="fa-regular fa-trash-can remove-item"></i></button>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="item-p">
                    <img src="/imgs/Cart/img-macbook-pro-2019.jpg" alt="">
                    <div class="item-details-p">
                        <span class="item-title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam iusto
                            ipsam a optio libero consequuntur</span>
                        <div class="select-quantity">
                            <div class="selector">
                                <span class="select">
                                    <button><i class="fa-solid fa-minus modify-quantity remove-quantity"></i></button>
                                    <input type="text" value="1" class="number" disabled>
                                    <button><i class="fa-solid fa-plus modify-quantity add-quantity"></i></button>
                                </span>
                                <span class="item-price">$ 25.000</span>
                                <button class="no-border"><i class="fa-regular fa-trash-can remove-item"></i></button>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="item-p">
                    <img src="/imgs/Cart/img-macbook-pro-2019.jpg" alt="">
                    <div class="item-details-p">
                        <span class="item-title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam iusto
                            ipsam a optio libero consequuntur</span>
                        <div class="select-quantity">
                            <div class="selector">
                                <span class="select">
                                    <button><i class="fa-solid fa-minus modify-quantity remove-quantity"></i></button>
                                    <input type="text" value="1" class="number" disabled>
                                    <button><i class="fa-solid fa-plus modify-quantity add-quantity"></i></button>
                                </span>
                                <span class="item-price">$ 25.000</span>
                                <button class="no-border"><i class="fa-regular fa-trash-can remove-item"></i></button>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="order-purchase">
                <div class="subtotal-purchase">
                    <span class="products-quantity"> 3 articulos</span>
                    <span class="subtotal-amount"> $ 75.000</span>
                </div>
                <div class="shipping">
                    <span class="shipping-cost">Costo de envio</span>
                    <span class="free-shipping"><i
                            class="fa-solid fa-truck-fast fa-2xs shipping-truck"></i>Gratis</span>
                </div>
                <div class="totals-purchase">
                    <div class="total">
                        <span class="summary">Total</span>
                        <span class="total-amount"> $ 75.000</span>
                    </div>
                </div>
            </div>

        </section>

        <section class="user-data">
            <section class="sub-title">
                <i class="fa-solid fa-user user"></i>
                <span>Tus datos</span>
            </section>
            <div class="login"><button class="log-in-btn">¿Ya estás registrado?</button></div>
            <div class="form">
                <form>
                    <div class="form-group name-lastname">
                        <input type="text" id="nombres" name="nombres" required placeholder="Nombres">
                        <input type="text" id="apellido" name="apellido" required placeholder="Apellido">
                    </div>
                    <div class="form-group email">
                        <input type="email" id="correo" name="correo" required placeholder="Email">
                    </div>
                    <div class="form-group date">
                        <label for="fecha">Fecha de nacimiento:</label>
                        <input type="date" id="fecha" name="fecha" required>
                    </div>
                    <div class="form-group password">
                        <input type="password" id="password" name="password" required placeholder="Contraseña">
                        <input type="password" id="confirm-password" name="confirm-password" required
                            placeholder="Confirma contraseña">
                    </div>
                </form>
            </div>

            <div class="shipping-details">
                <h5 class="card-title"> <a data-toggle="collapse" aria-expanded="true" class=""> <i
                            class="fa-pts pull-right fa-pts-angle-up"></i> Selecciona tu dirección de envío </a></h5>
            </div>

            <div class="form">
                <form>
                    <div class="form-group dni">
                        <input type="dni" id="dni" name="dni" required placeholder="DNI">
                    </div>
                    <div class="form-group street-number">
                        <input type="street" id="street" name="street" required placeholder="Calle">
                        <input type="number" id="number" name="number" required placeholder="Altura">
                    </div>
                    <div class="form-group floor-door">
                        <input type="floor" id="floor" name="floor" required placeholder="Piso">
                        <input type="door" id="door" name="door" required placeholder="Departamento">
                    </div>
                    <div class="form-group city">
                        <input type="city" id="city" name="city" required placeholder="Ciudad">
                    </div>
                    <div class="form-group province-postalcode">
                        <input type="province" id="province" name="province" required placeholder="Provincia">
                        <input type="postalcode" id="postalcode" name="postalcode" required placeholder="Codigo Postal">
                    </div>
                    <div class="form-group telephone">
                        <input type="telephone" id="telephone" name="telephone" required placeholder="Telefono">
                    </div>
                </form>
            </div>
        </section>

        <div class="payment-method">
            <div class="option-1">
                <input type="radio" id="payment-option-1" class="payment_radio" value="mercadopago">
                <img class="payment-img1" src="/imgs/Cart/mpinfo_checkout.png" alt="">
                <div class="payment-content">
                    <span class="payment-title">TARJETAS DE CREDITO Y DEBITO</span>
                    <p>3, 6 y 12 cuotas sin interés con tarjetas seleccionadas. Para compras superiores a $10.000
                        recomendamos solicitar autorización previamente a su tarjeta de crédito.
                    </p>
                </div>
            </div>
            <div class="option-2">
                <input type="radio" id="payment-option-2" class="payment_radio" value="mobbex">
                <img class="payment-img2" src="/imgs/Cart/mpinfo_checkout.png" alt="">
                <div class="payment-content">
                    <span>Quiero pagar con Mercado Pago sin costo adicional.</span>
                    <p>NO APLICAN PROMOCIONES BANCARIAS DE LA WEB.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="floating-buttons" id="floating-buttons">
        <button onclick=""><i class="fa-solid fa-angle-left fa-xl"></i>Continuar Comprando</button>
        <!--en onclick va un metodo definido mediante js que dirija al html correspondiente-->
        <button onclick="">Finalizar Compra</button>
    </div>


</body>

</html>