<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')  %>
    <link rel="stylesheet" href="/css/styles-header.css">
</head>
<body>
    
    <%- include('./partials/header')  %>
    
    <main>

    </main>
</body>
</html>