<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://kit.fontawesome.com/ec3ac6c0de.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <main>

        <section class="outstanding-container">
            <h1 class="outstanding-title">Destacados</h1>

            <section class="outstanding">
                <a class="outstanding-product os-product-1 os-p-apple-1" href="">
                    <img src="./apple/ipad-10th-gen-finish-unselect-gallery-1-202212.jpeg" alt="">
                    <h2>IPad 10</h2>
                </a>

                <article class="small-products-container">
                    <a class="outstanding-product os-product-2 os-small-product os-p-apple-2" href="">
                        <img src="./apple/AppleWatchSeries8.jpg" alt="">
                        <h2>Apple Watch Series 8</h2>
                    </a>

                    <a class="outstanding-product os-product-3 os-small-product os-p-apple-3" href="">
                        <img src="./apple/size_midnight__jcp27em4zsy2_large.jpg" alt="">
                        <h2>IPhone 14</h2>
                    </a>
                </article>
            </section>
        </section>

            <section class="presentation-smartphone presentation-iphone14">
                <h1 class="smartphone-title iphone14-title">IPhone 14 Pro</h1>
                <section class="title-iphone14-wide-container">
                    <video class="iphone14-video-mobile" src="./apple/iphone14pro/video-iphone14-pro-small.mp4" autoplay
                        muted loop></video>
                    <video class="iphone14-video-desktop" src="./apple/iphone14pro/videoIPhone14pro.mp4" autoplay muted
                        loop></video>
                </section>

                <section class="text-img-color-container-apple">
                    <div class="smartphone-text iphone14-text">
                        <h2 class="text-title-smartphone iphone14-main-font">Eficiencia energética</h2>
                        <p class="text-paragraph-smartphone text-paragraph-apple">
                            que permite que el chip A16 Bionic trabaje a velocidades increíbles por más tiempo.</p>
                    </div>

                    <img class="front-img-smartphone iphone14-front-color"
                        src="./apple/iphone14pro/iphone14pro-color-deep-purple.jpg" alt="">

                </section>

                <section class="pick-color-smartphone pick-color-iphone14">
                    <span class="option-color-smartphone option-color-iphone14 color-iphone14-deep-purple"></span>
                    <span class="option-color-smartphone option-color-iphone14 color-iphone14-gold"></span>
                    <span class="option-color-smartphone option-color-iphone14 color-iphone14-silver"></span>
                    <span class="option-color-smartphone option-color-iphone14 color-iphone14-space-black"></span>
                    <h1>Color</h1>
                </section>

                <a class="text-link" href="">Comprar<i class="fa-solid fa-angle-right"></i></a>

            </section>

        <section class="watch-background watch-background-apple">
            <h1 class="bg-text bg-text-apple">Sumérgete a lo más profundo.</h1>
            <img class="background-image bg-back bg-back-apple"
                src="/temporal/apple/ocean_hero__gktrweb85cy2_medium.jpg" alt="">
            <img class="background-image bg-front bg-front-apple"
                src="/temporal/apple/ocean_hero_float__dk07yuld6dm6_large(2).jpg" alt="">
            <div class="watch-title watch-title-apple">
                <h1>Apple Watch Ultra</h1>
            </div>
            <section class="presentation apple-watch-ultra">
                <p class="watch-intro watch-intro-apple">Llegó el Apple Watch más fuerte y equipado que existe. Con una
                    caja
                    de titanio
                    dura como una roca, GPS de precisión y doble frecuencia, hasta 36 horas de batería, conexión celular
                    y tres correas optimizadas para quienes comen, viven y respiran aventura.</p>
                <img class="img-face-apple" src="./apple/AppleWatchUltra-titanium-front-midnight.jpg" alt="">
                <section class="watch-flex watch-flex-apple">
                    <div class="pick-color">
                        <span class="green color"></span>
                        <span class="orange color"></span>
                        <span class="midnight color"></span>
                        <span class="starlight color"></span>
                        <span class="yellow color"></span>
                        <span class="white color"></span>
                    </div>
                    <img class="img-band-apple" src="./apple/AppleWatchUltra-band-midnight2.jpg" alt="">
                </section>
            </section>
        </section>
    </main>
</body>

</html>