<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-homes.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <script src="https://kit.fontawesome.com/ec3ac6c0de.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <header>
        <section id="main-header">
            <section class="main-header-left">
                <img id="logo" src="./imgs/LogoTechHub_Principal.png" alt="">
                <ul class="left-list">
                    <li><button>Tienda Online</button></li>
                    <li><button>Smartphones</button></li>
                    <li><button>Smartwatch</button></li>
                    <li><button>Tablets</button></li>
                </ul>
            </section>
            
            <section class="main-header-right">
                <ul class="right-list">
                    <li id="glass"><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li id="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li id="user"><a href=""><i class="fa-solid fa-user"></i></a></li>
                    <li id="bars"><a href=""><i class="fa-solid fa-bars"></i></a></li>
                </ul>
            </section>
        </section>
        <nav class="brands">
            <a href=""><img id="apple" src="/imgs/Marcas-logos/Apple-logo-blanco.png" alt=""></a>
            <a href=""><img id="samsung"
                src="/imgs/Marcas-logos/logo-samsung-nav.png"
                alt=""></a>
            </nav>
        </header>

        <main>
            <section class="banner">
                <img src="/imgs/Samsung/banner-samsung/galaxy-watch5-pro-sustain-kv.avif" alt="">
            </section>
        <section>
            <section class="outstanding-container outstanding-container-samsung">
                <h1 class="outstanding-title">Destacados</h1>

                <section class="outstanding">
                    <a class="outstanding-product os-product-1 os-p-samsung-1" href="">
                        <img src="/imgs/Samsung/Galaxy-z-fold-front.png" alt="">
                        <h2>Galaxy Z Fold 4</h2>
                    </a>

                    <article class="small-products-container">
                        <a class="outstanding-product os-product-2 os-small-product os-p-samsung-2" href="">
                            <img src="/imgs/Samsung/galaxy-watch5-pro-fitness-display.png" alt="">
                            <h2>Galaxy Watch 5</h2>
                        </a>

                        <a class="outstanding-product os-product-3 os-small-product os-p-samsung-3" href="">
                            <img src="/imgs/Samsung/galaxy-tab-s6-lite.png" alt="">
                            <h2>Galaxy Tab S6 Lite</h2>
                        </a>

                    </article>
                </section>
            </section>
            <img src="/imgs/Samsung/galaxy-watch5-overview-bg.jpg" alt="">
        </section>

        <section class="presentation-smartphone presentation-s23">
            <section class="title-s23-wide-container">
                <h1 class="smartphone-title s23-title">Galaxy S23 Ultra</h1>
                <img class="s23-img-wide" src="/imgs/Samsung/s23/galaxy-s23-ultra-background.jpg" alt="">
            </section>

            <section class="text-img-color-container-samsung">
                <div class="smartphone-text s23-text">
                    <h2 class="text-title-smartphone s23-main-font">Tonos reales</h2>
                    <p class="text-paragraph-smartphone">Permanecé conectado a tierra con una variedad de tonos
                        inspirados en
                        ella. Creado con tintes
                        naturales, cada tono es elegante y elevado, pero completamente real.</p>
                </div>

                <img class="front-img-smartphone s23-front-color s23-color-mobile"
                    src="/imgs/Samsung/s23/galaxy-s23-ultra-highlights-colors-green-back-mobile.jpg" alt="">
                <img class="front-img-smartphone s23-front-color s23-color-desktop"
                    src="/imgs/Samsung/s23/galaxy-s23-ultra-highlights-colors-green-back-desktop.avif" alt="">

                <img class="s23-side-color s23-color-mobile"
                    src="/imgs/Samsung/s23/galaxy-s23-ultra-highlights-colors-green-side-mobile.avif"></img>
                <img class="s23-side-color s23-color-desktop"
                    src="/imgs/Samsung/s23/galaxy-s23-ultra-highlights-colors-green-side-desktop.jpg"></img>
            </section>


            <section class="pick-color-smartphone pick-color-s23">
                <span class="option-color-smartphone option-color-s23 color-s23-green"></span>
                <span class="option-color-smartphone option-color-s23 color-s23-phantom-black"></span>
                <span class="option-color-smartphone option-color-s23 color-s23-lavender"></span>
                <span class="option-color-smartphone option-color-s23 color-s23-cream"></span>
                <h1>Color</h1>
            </section>

            <a class="text-link" href="">Comprar<i class="fa-solid fa-angle-right"></i></a>

        </section>

        <section class="watch-background watch-background-samsung">
            <h1 class="bg-text bg-text-samsung">Nacido para el rendimiento.</h1>
            <img class="background-image bg-front bg-front-samsung"
                src="/imgs/Samsung/galaxy-watch5-pro-performance-visual.jpg" alt="">
            <p class="background-paragraph">Contá los pasos, las calorías y mucho más. Tu reloj detectará actividad
                física para hacer un seguimiento de tus rutinas, que admite más de 90 ejercicios. Luego, verificá tu
                progreso allí.
            </p>
            <div class="img-container">
                <img class="background-image bg-back bg-back-samsung"
                    src="/imgs/Samsung/galaxy-watch5-pro-fitness-visual.webp" alt="">
            </div>
            <div class="img-low-opacity-samsung">
                <img src="/imgs/Samsung/galaxy-watch5-pro-os-watch.webp" alt="">
            </div>
            <div class="watch-title watch-title-samsung">
                <h1>Galaxy Watch 5 Pro</h1>
            </div>
            <section class="presentation galaxy-watch-5">
                <p class="watch-intro watch-intro-samsung">Forjado con un cuerpo de titanio de primera calidad y un
                    impresionante cristal de
                    zafiro. El Watch5 Pro aturde con colores clásicos y un estilo de primera calidad para un reloj
                    atemporal. </p>
                <img class="img-face-samsung" src="/imgs/Samsung/Galaxy Ultra/galaxy-watch5-face-visual-01.jpg" alt="">
                <section class="watch-flex watch-flex-samsung">
                    <img class="img-GW5" src="/imgs/Samsung/Galaxy Ultra/galaxy-watch5-face-button01.webp" alt="">
                    <img class="img-GW5" src="/imgs/Samsung/Galaxy Ultra/galaxy-watch5-face-button02.webp" alt="">
                    <img class="img-GW5" src="/imgs/Samsung/Galaxy Ultra/galaxy-watch5-face-button03.webp" alt="">
                    <img class="img-GW5" src="/imgs/Samsung/Galaxy Ultra/galaxy-watch5-face-button04.webp" alt="">
                    <img class="img-GW5" src="/imgs/Samsung/Galaxy Ultra/galaxy-watch5-face-button05.webp" alt="">
                </section>
            </section>
        </section>
    </main>
</body>

</html>