<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-homes.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <script src="https://kit.fontawesome.com/ec3ac6c0de.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <header>
        <section id="main-header">
            <section class="main-header-left">
                <a href="/"><img id="logo" src="/imgs/logo-iso/LogoTechHub_Principal.png" alt="logo"></a>
                <ul class="left-list">
                    <li><button>Tienda Online</button></li>
                    <li><button>Smartphones</button></li>
                    <li><button>Smartwatch</button></li>
                    <li><button>Tablets</button></li>
                </ul>
            </section>

            <section class="main-header-right">
                <ul class="right-list">
                    <li id="glass"><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li id="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li id="user"><a href=""><i class="fa-solid fa-user"></i></a></li>
                    <li id="bars"><a href=""><i class="fa-solid fa-bars"></i></a></li>
                </ul>
            </section>
        </section>
        <nav class="brands">
            <a id="home-1" href="/home-1"><img id="apple" src="/imgs/Marcas-logos/Apple-logo-blanco.png" alt=""></a>
            <a id="home-2" href="/home-2"><img id="samsung"
                src="/imgs/Marcas-logos/logo-samsung-nav-s-blanca.png"
                alt=""></a>
        </nav>
    </header>
    <main>
        <section class="banner">
            <img src="/imgs/apple/banner-apple/apple-banner-watch-series-8.jpg" alt="">
        </section>

        <section class="outstanding-container">
            <div  class="outstanding-title">
                <h1>Destacados</h1>
            </div>

            <section class="outstanding">
                <a class="outstanding-product os-product-1 os-p-apple-1" href="">
                    <img src="/imgs/apple/ipad-10th-gen-finish-unselect-gallery-1-202212.jpeg" alt="">
                    <h2>IPad 10</h2>
                </a>

                <article class="small-products-container">
                    <a class="outstanding-product os-product-2 os-small-product os-p-apple-2" href="">
                        <img src="/imgs/apple/AppleWatchSeries8.jpg" alt="">
                        <h2>Apple Watch Series 8</h2>
                    </a>

                    <a class="outstanding-product os-product-3 os-small-product os-p-apple-3" href="">
                        <img src="/imgs/apple/size_midnight__jcp27em4zsy2_large.jpg" alt="">
                        <h2>IPhone 14</h2>
                    </a>
                </article>
            </section>
        </section>

        <section class="presentation-smartphone presentation-iphone14">
            <h1 class="smartphone-title iphone14-title">IPhone 14 Pro</h1>
            <section class="title-iphone14-wide-container">
                <video class="iphone14-video-mobile" src="/videos/video-iphone14-pro-small.mp4" autoplay
                    muted loop></video>
                <video class="iphone14-video-desktop" src="/videos/videoIPhone14pro.mp4" autoplay muted
                    loop></video>
            </section>

            <section class="text-img-color-container-apple">
                <div class="smartphone-text iphone14-text">
                    <h2 class="text-title-smartphone iphone14-main-font">Eficiencia energética</h2>
                    <p class="text-paragraph-smartphone text-paragraph-apple">
                        que permite que el chip A16 Bionic trabaje a velocidades increíbles por más tiempo.</p>
                </div>

                <img class="front-img-smartphone iphone14-front-color"
                    src="/imgs/apple/iphone14pro/iphone14pro-color-deep-purple.jpg" alt="">

            </section>

            <section class="pick-color-smartphone pick-color-iphone14">
                <span class="option-color-smartphone option-color-iphone14 color-iphone14-deep-purple"></span>
                <span class="option-color-smartphone option-color-iphone14 color-iphone14-gold"></span>
                <span class="option-color-smartphone option-color-iphone14 color-iphone14-silver"></span>
                <span class="option-color-smartphone option-color-iphone14 color-iphone14-space-black"></span>
                <h1>Color</h1>
            </section>

            <a class="text-link" href="">Comprar<i class="fa-solid fa-angle-right"></i></a>

        </section>

        <section class="watch-background watch-background-apple">
            <h1 class="bg-text bg-text-apple">Sumérgete a lo más profundo.</h1>
            <img class="background-image bg-back bg-back-apple"
                src="/imgs/apple/AppleWatch/ocean_hero__gktrweb85cy2_medium.jpg" alt="">
            <img class="background-image bg-front bg-front-apple"
                src="/imgs/apple/AppleWatch/ocean_hero_float__dk07yuld6dm6_large(2).jpg" alt="">
            <div class="watch-title watch-title-apple">
                <h1>Apple Watch Ultra</h1>
            </div>
            <section class="presentation apple-watch-ultra">
                <p class="watch-intro watch-intro-apple">Llegó el Apple Watch más fuerte y equipado que existe. Con una
                    caja
                    de titanio
                    dura como una roca, GPS de precisión y doble frecuencia, hasta 36 horas de batería, conexión celular
                    y tres correas optimizadas para quienes comen, viven y respiran aventura.</p>
                <img class="img-face-apple" src="/imgs/apple/AppleWatch/AppleWatchUltra-titanium-front-midnight.jpg" alt="">
                <section class="watch-flex watch-flex-apple">
                    <div class="pick-color">
                        <span class="green color"></span>
                        <span class="orange color"></span>
                        <span class="midnight color"></span>
                        <span class="starlight color"></span>
                        <span class="yellow color"></span>
                        <span class="white color"></span>
                    </div>
                    <img class="img-band-apple" src="/imgs/apple/AppleWatch/AppleWatchUltra-band-midnight2.jpg" alt="">
                </section>
            </section>
        </section>
    </main>
    <footer>
        <section>
            <h1>Envíos</h1>
            <p>Solo por estar registrado en TechHub tenés envíos gratis en todos nuestros productos.</p>
        </section>
        <section>
            <h1>Soporte</h1>
            <ul>
                <li>Devoluciones</li>
                <li>Preguntas frecuentes</li>
                <li>Mail de soporte</li>
                <li>Teléfono de soporte</li>
            </ul>
        </section>
        <section>
            <h1>Nosotros</h1>
            <p>Somos el grupo 14 de Digital House. Gracias por visitar nuestra página.</p>
        </section>
        <h4>Copyright© 1995-2023 TechHub. Todos los derechos reservados.</h4>
    </footer>
</body>

</html>