<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechHub</title>
    <link rel="stylesheet" href="/css/styles-index.css">
    <script src="https://kit.fontawesome.com/c4ac9449c7.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="background">
        <img src="/imgs/fondo-mobile.jpg">
        <video autoplay loop muted plays-inline>
            <source src="/videos/clip_index.mp4" type="video/mp4">
        </video>
    </div>
    <div class="navbar">
        <a href="/"><img src="/imgs/logo-iso/LogoTechHub_Principal.png" class="logo"></a>
        <a href="#" class="hamburguer-buttom"> <i class="fa-solid fa-bars"></i> </a>
    </div>
    <div class="marcas">
        <a href="/home-2"><img src="/imgs/Marcas-logos/Samsung-logo-blanco.png" class="logo-samsung"></a>
       <a href="/home-1"><img src="/imgs/Marcas-logos/Apple-logo-blanco.png" class="logo-apple"></a>
    </div>
    <div class="conteiner">
        <h1 class="slogan">
        coNectAte coN el futuRo
        </h1>
    </div>
</body>

</html>