<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-homes.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-products-list.css">
    <script src="https://kit.fontawesome.com/ec3ac6c0de.js" crossorigin="anonymous"></script>

    <title>Todos los Productos</title>
</head>

<body>
    <header>
        <section id="main-header">
            <section class="main-header-left">
                <img id="logo" src="./imgs/logo-iso/LogoTechHub_Principal.png" alt="">
                <ul class="left-list">
                    <li><button>Tienda Online</button></li>
                    <li><button>Smartphones</button></li>
                    <li><button>Smartwatch</button></li>
                    <li><button>Tablets</button></li>
                </ul>
            </section>

            <section class="main-header-right">
                <ul class="right-list">
                    <li id="glass"><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li id="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li id="user"><a href=""><i class="fa-solid fa-user"></i></a></li>
                    <li id="bars"><a href=""><i class="fa-solid fa-bars"></i></a></li>
                </ul>
            </section>
        </section>
        <nav class="brands">
            <a href=""><img id="apple" src="/imgs/Marcas-logos/Apple-logo-blanco.png" alt=""></a>
            <a href=""><img id="samsung" src="/imgs/Marcas-logos/logo-samsung-nav-s-blanca.png" alt=""></a>
        </nav>
    </header>

    <main>
        <section class="fran-banner">
            <img src="imgs/Samsung/banner-samsung/galaxy-s23-accessories-chargers-kv.avif" alt="">
        </section>

        <section class="fran-presentation-s23">
            <section class="fran-title-s23-wide-container">
                <h1 class="fran-smartphone-title s23-title">Galaxy S23 
                    <br></br>
                    Series</h1>
                <video autoplay="" loop="" muted="" plays-inline="">
                    <source src="/videos/galaxy-s23-series.mp4" type="video/mp4">
                </video>
                </div>
            </section>
        </section>

        <section class="grilla-articulos">
            <article class="productos-seleccionados">
                <div>
                    <img class="imagen-producto" src="/imgs/Samsung/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
                        alt="z-fold-4">
                </div>
                <div>
                    <h2 class="titulo-producto-seleccionado">Galaxy S23 Ultra</h2>
                    <p class="opcion-colores">Colores
                    <div class="ul-colores">                        
                        <a class="colores-producto black"></a>
                        <a class="colores-producto white"></a>
                    </div>
                    </p>
                    <p class="precio-producto">$00000</p>
                    <button class="boton-comprar" type="button">Comprar</button>
                    <button class="boton-detalle-producto" type="button">Más Informacíon</button>

                </div>
            </article>

            <article class="productos-seleccionados">
                <div>
                    <img class="imagen-producto" src="imgs/Samsung/galaxy-s/s23+/galaxy-s23+diagonal.avif" alt="z-fold-4">
                </div>
                <div>
                    <h2 class="titulo-producto-seleccionado">Galaxy S23+</h2>
                    <p class="opcion-colores">Colores
                        <div class="ul-colores">                        
                            <a class="colores-producto black"></a>
                            <a class="colores-producto white"></a>
                        </div>
                    </p>
                    <p class="precio-producto">$00000</p>
                    <button class="boton-comprar" type="button">Comprar</button>
                    <button class="boton-detalle-producto" type="button">Más Informacíon</button>
                </div>
            </article>

            <article class="productos-seleccionados">
                <div>
                    <img class="imagen-producto" src="/imgs/Samsung/galaxy-s/s23/s23-frente.avif" alt="z-fold-4">
                </div>
                <div>
                    <h2 class="titulo-producto-seleccionado">Galaxy S23</h2>
                    <p class="opcion-colores">Colores
                        <div class="ul-colores">                        
                            <a class="colores-producto black"></a>
                            <a class="colores-producto white"></a>
                        </div>
                    </p>
                    <p class="precio-producto">$00000</p>
                    <button class="boton-comprar" type="button">Comprar</button>
                    <button class="boton-detalle-producto" type="button">Más Informacíon</button>
                </div>
            </article>            
        </section>

        <section class="fran-presentation-z">
            <section class="fran-title-z-wide-container">
                <h1 class="fran-smartphone-title fran-z-title">Galaxy Z</h1>
                <video autoplay="" loop="" muted="" plays-inline="">
                    <source src="/videos/galaxy-z4-fold-and-flip.mp4" type="video/mp4">
                </video>
                </div>
            </section>
        </section>

        <section class="grilla-articulos">
            <article class="productos-seleccionados">
                <div>
                    <img class="imagen-producto" src="/imgs/Samsung/Galaxy Z/Z-fold-4/z-fold4-mitad-frente.avif"
                        alt="z-fold-4">
                </div>
                <div>
                    <h2 class="titulo-producto-seleccionado">Galaxy Z Fold4 5G</h2>
                    <p class="opcion-colores">Colores
                        <div class="ul-colores">                        
                            <a class="colores-producto black"></a>
                            <a class="colores-producto white"></a>
                        </div>
                    </p>
                    <p class="precio-producto">$00000</p>
                    <button class="boton-comprar" type="button">Comprar</button>
                    <button class="boton-detalle-producto" type="button">Más Informacíon</button>

                </div>
            </article>

            <article class="productos-seleccionados">
                <div>
                    <img class="imagen-producto" src="/imgs/Samsung/Galaxy Z/z-flip-4/flil4-partido.avif"
                        alt="z-fold-4">
                </div>
                <div>
                    <h2 class="titulo-producto-seleccionado">Galaxy Z Flip4 5G</h2>
                    <p class="opcion-colores">Colores
                        <div class="ul-colores">                        
                            <a class="colores-producto black"></a>
                            <a class="colores-producto white"></a>
                        </div>
                    </p>
                    <p class="precio-producto">$00000</p>
                    <button class="boton-comprar" type="button">Comprar</button>
                    <button class="boton-detalle-producto" type="button">Más Informacíon</button>

                </div>
            </article>

            <article class="productos-seleccionados">
                <div>
                    <img class="imagen-producto" src="/imgs/Samsung/Galaxy Z/z-fold-3/z-fold3-mitad-mitad.avif"
                        alt="z-fold-4">
                </div>
                <div>
                    <h2 class="titulo-producto-seleccionado">Galaxy Z Fold3 5G</h2>
                    <p class="opcion-colores">Colores
                        <div class="ul-colores">                        
                            <a class="colores-producto black"></a>
                            <a class="colores-producto white"></a>
                        </div>
                    </p>
                    <p class="precio-producto">$00000</p>
                    <button class="boton-comprar" type="button">Comprar</button>
                    <button class="boton-detalle-producto" type="button">Más Informacíon</button>

                </div>
            </article>

            <article class="productos-seleccionados">
                <div>
                    <img class="imagen-producto" src="/imgs/Samsung/Galaxy Z/z-flip-3/z-flip3-partido.avif"
                        alt="z-fold-4">
                </div>
                <div>
                    <h2 class="titulo-producto-seleccionado">Galaxy Z Flip3 5G</h2>
                    <p class="opcion-colores">Colores
                        <div class="ul-colores">                        
                            <a class="colores-producto black"></a>
                            <a class="colores-producto white"></a>
                        </div>
                    </p>
                    <p class="precio-producto">$00000</p>
                    <button class="boton-comprar" type="button">Comprar</button>
                    <button class="boton-detalle-producto" type="button">Más Informacíon</button>
                </div>
            </article>
        </section>        

        <section class="fran-presentation-a">
            <section class="fran-title-a-wide-container">
                <h1 class="fran-smartphone-title fran-a-title">Galaxy A</h1>
                <video autoplay="" loop="" muted="" plays-inline="">
                    <source src="/videos/galaxy-a54-5g-nuevo.mp4" type="video/mp4">
                </video>
                </div>
            </section>
        </section>

        <section class="grilla-articulos">
            <article class="productos-seleccionados">
                <div>
                    <img class="imagen-producto" src="/imgs/Samsung/galaxy-a/a54 5g/galaxy-a54-doble .avif"
                        alt="z-fold-4">
                </div>
                <div>
                    <h2 class="titulo-producto-seleccionado">Galaxy A54 5G</h2>
                    <p class="opcion-colores">Colores
                        <div class="ul-colores">                        
                            <a class="colores-producto black"></a>
                            <a class="colores-producto white"></a>
                        </div>
                    </p>
                    <p class="precio-producto">$00000</p>
                    <button class="boton-comprar" type="button">Comprar</button>
                    <button class="boton-detalle-producto" type="button">Más Informacíon</button>
                </div>
            </article>

            <article class="productos-seleccionados">
                <div>
                    <img class="imagen-producto" src="/imgs/Samsung/a34/galaxy-a34-atras.avif" alt="z-fold-4">
                </div>
                <div>
                    <h2 class="titulo-producto-seleccionado">Galaxy A34 5G</h2>
                    <p class="opcion-colores">Colores
                        <div class="ul-colores">                        
                            <a class="colores-producto black"></a>
                            <a class="colores-producto white"></a>
                        </div>
                    </p>
                    <p class="precio-producto">$00000</p>
                    <button class="boton-comprar" type="button">Comprar</button>
                    <button class="boton-detalle-producto" type="button">Más Informacíon</button>
                </div>
            </article>
        </section>
    </main>
</body>
</html>