@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .user-details {
    margin-left: 20px;
  }
  
  .user-details h2 {
    margin: 0;
  }
  
  .user-details p {
    margin: 5px 0;
  }
  
  .order-history {
    background-color: #f9f9f9;
    padding: 20px;
    width: 100%;
  }
  
  .order-history h2 {
    margin: 0 0 20px;
  }
  
  .order-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .order-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .order-image img {
    width: 80px;
    height: 80px;
  }
  
  .order-details {
    margin-left: 20px;
  }
  
  .order-details p {
    margin: 5px 0;
  }
  