@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    display: none;
}

.cart {
    width: 320px;
    height: 490px;
    position: fixed;
    background-color: whitesmoke;
    right: 22vw;
    top: 10vw;
    border-radius: 10px;
    padding: 15px;
}

.cart-items {
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    transition: .3s;
    background-color: whitesmoke;
    border-bottom: 1px solid grey;
}

.cart-items .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
}

.cart-items .item img {
    width: 37px;
}

.cart-items .item .item-details {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-bottom: 1px solid grey;
}

.cart-items .item .item-details .item-title {
    display: block;
    font-weight: 400;
    font-size: 12px;
    padding: 14px;
    cursor: pointer;
}

.cart-items .item .item-details .item-title:hover {
    color: #FF6700;
}

.cart-items .item .item-details .select-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-items .item .item-details .select-quantity .modify-quantity {
    font-size: 12px;
    text-align: center;
    padding: 2px;
}

.cart-items .item .item-details .select-quantity .modify-quantity:hover {
    color: #FF6700;
}

.cart-items .item .item-details .select-quantity .selector button {
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.cart-items .item .item-details .select-quantity .selector button.no-border {
    border:none;
    background: transparent;
}

.cart-items .item .item-details .select-quantity .selector .number {
    width: 25px;
    text-align: center;
    font-weight: 700;
}

.cart-items .item .item-details .select-quantity .selector .item-price {
    border: none;
    font-size: 12px;
    font-weight: 400;
    background: transparent;
    text-align: center;
    margin-left: 45px;
}

.cart-items .item .item-details .select-quantity .selector .item-price i {  
    margin-left: 40px;
    cursor: pointer;
}

.order {
    border-bottom: 1px solid grey;
    width: 100%;
    height: 15%;
    margin-top: 15px;
}

.order .products-quantity {
    font-size: 12px;
    font-weight: 400;
}

.order .subtotal,
.order .shipping,
.totals .total-purchase  {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.order .subtotal .subtotal-amount,
.order .shipping .shipping-cost {
    font-size: 12px;
    font-weight: 400;
}

.order .shipping .free-shipping {
    color: #08b525; 
    font-weight: 700; 
    font-size: 12px;
}

.order .shipping .shipping-truck {
    font-size: 13px;
    margin-right: 4px;
}


.totals .total-purchase .summary {
    font-size: 16px;
    font-weight: 700;
}

.totals .total-purchase .total-amount {
    font-size: 16px;
    font-weight: 700;
    color: #164194;
}

.buttons .btn-checkcart {
    display: flex;
    background-color: #164194;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    padding: 14px 21px;
    cursor: pointer;
    margin-top: 15px;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.buttons .btn-checkcart:hover {
    background-color: #666;
}

