@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.presentation-z-list {
    background-color: #f4f4f4;
    width: 100%;
}

.presentation-z-list video {
    width: 100%;
    background-color: #f4f4f4;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.box-img-product {
    background-color: rgba(244, 238, 238, 0.599);
}

.selected-products {
    width: 100%;
    border-radius: 7px;
    justify-content: center;
    text-align: center;
    color: #000;
    border: 1px solid rgba(244, 238, 238, 0.599);
    /*     max-width: 320px;
    max-height: 720px; */
}

.selected-products div:last-of-type {
    padding: 1.1vw;
}

.imagen-producto {
    width: 100%;
    scale: 1.1;
}

.product-title,
.product-price {
    /* text-wrap: balance; */
    font-size: 3.3vw;
    font-weight: 500;
}

.product-price {
    color: #164194;
    padding-top: 1vw;
}

.banner-list,
.presentation-z-list {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.banner-list img {
    width: 100%;
}

.smartphone-title-list{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/* @media (min-width:481px) {
    .product-title {
        font-size: 35px;
    }

    .product-price {
        font-size: 40px;
    }

    .box-img-product {
        min-height: 350px;
    }

    .imagen-producto {
        width: 120%;
        height: 80%;
        margin-top: 30px;
        position: relative;
        left: -3.5vw;
        overflow: hidden;
    }

}

@media(min-width:769px) {
    .products-container {
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 20px;
    }

    .selected-products {
        flex-flow: row wrap;
    }

} */