@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
}

#main-header {
    background-color: #000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    height: 50px;
    position: relative;
    z-index: 1000;
}

.main-header-right {
    display: flex;
    justify-content: center;
    padding: 0 2vw;
    margin-right: 2vw;
}

.main-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#logo {
    width: 140px;
    margin-left: 2vw;
}

.left-list {
    list-style: none;
    display: none;
}

.right-list {
    list-style: none;
    display: flex;
}

.right-list li {
    margin: 8px;
}

.right-list i,
.right-list button{
    font-size: 20px;
}

#user {
    display: none;
}

#main-header button {
    background-color: transparent;
    border: none;
    color: #ccc;
    transition: all 0.5s;
}

#main-header button:hover,
#main-header label:hover{
    color: #fff;
    cursor: pointer;
}

.brands {
    display: none;
}

#samsung {
    width: 27px;
    justify-self: start;
    padding: 0.5vw 0 0.5vw;
}

#apple {
    width: 24px;
    padding: 0.8vw 0 0.5vw;
}

/* .list-nav-mobile, .list-tienda-online{
    display: grid;
    color: #fff;
    list-style: none;
    background-color: #164194;
    width: 80%;
    max-width: 250px;
    position: absolute;
    right: 0;
    z-index: 50;
    transform: translateY(-100%);
    transition: 0.5s;
}

[type="checkbox"]{
    display: none;
}

.cb-side-menu:checked ~ .list-nav-mobile {
    transform: translateY(0);
}

 .list-tienda-online{
    transition: 0.3s ease-out;
    list-style: none;
    z-index: 49;
}

header .fa-angle-right{
    position: absolute;
    right: 10px;
    top: 14px;
    transition: 0.3s;
}

.cb-tienda-online:checked ~ .list-tienda-online {
    transform: translateY(242px);
}
.cb-tienda-online:checked ~ .list-nav-mobile > button > .fa-angle-right {
    transform: rotate(90deg);
}

.list-nav-mobile li{
    padding: 12px 15px;
    border-bottom: solid 1px #000;
}

.list-nav-mobile button {
    position: relative;
    background-color: #164194;
    border: none;
}

.list-tienda-online li{
    padding: 10px 30px;
    border-bottom: solid 1px #000;
    
}


.list-nav-mobile li:hover{
    background-color: #444;
    cursor: pointer;
}

.list-nav-mobile a,
.list-nav-mobile button{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.list-tienda-online a{
    color: #fff;
    text-decoration: none;
} */

/* FOOTER */

footer {
    background-color: #fff;
    color: #444;
    text-align: center;
    max-height: 417px;
}

.footer-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 3.8vw;
    max-width: 1200px;
    margin: 0 auto;
}

footer h1 {
    margin: 2vw;
}

footer .footer-info {
    width: 80%;
}

footer .footer-info:first-child {
    padding: 5vw 5vw 0;
    max-width: 340px;
}

footer .footer-info:nth-child(2) {
    padding: 5vw;
    max-width: 395px;
}

footer .footer-info:last-of-type {
    padding: 0 5vw 5vw;
    max-width: 340px;
}

footer ul {
    list-style: none;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer li {
    margin: 1.5vw;
}

.copyright {
    padding: 3vw;
    text-align: left;
    font-weight: 200;
    font-size: 2.7vw;
    max-width: 1300px;
    margin: 0 auto;
}

@media(min-width: 481px) {

    /* .list-nav-mobile,
    .list-tienda-online {
        background-color: #000;
    }

    .list-nav-mobile li,
    .list-tienda-online li{
        border-bottom: solid 1px #aaa;
    } */

    .footer-container {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: start;
        padding: 2vw;
        font-size: 2.3vw;
    }

    .footer-container>section.footer-info {
        width: 30%;
        margin: 0;
        padding: 0;
    }

    footer .footer-info:nth-child(2) {
        width: 35%;
    }

    footer h1 {
        margin: 1.3vw;
    }

    footer li {
        margin: 1vw;
    }

    .copyright {
        width: 100%;
        font-size: 1.3vw;
        padding: 1.5vw;
    }
}

@media(min-width: 768px) {

    #main-header {
        height: 6.55vw;
        max-height: 70px;
    }

    #logo {
        width: 180px;
    }

    #user {
        display: inline-block;
    }

    #bars {
        display: none;
    }

    #main-header .left-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 450px;
        margin-left: 1.5vw;
    }

    .left-list li {
        margin: 0 7px;
    }

    .brands {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 15px 0 0 15px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-items: center;
        position: fixed;
        top: 75px;
        right: 0;
        z-index: 100;
        width: 4vw;
        max-width: 50px;
        min-width: 35px;
    }

    .left-list button {
        font-size: 15px;
    }

    .footer-container {
        font-size: 17px;
    }

    /* .list-nav-mobile :nth-child(3),
    .list-nav-mobile :nth-child(4),
    .list-nav-mobile :nth-child(5),
    .list-tienda-online{
        display: none;
    } */
}

@media(min-width: 1200px) {
    #main-header {
        max-height: 80px;
        margin: auto;
    }

    #logo {
        width: 200px;
        margin-left: 0;
    }

    #main-header .left-list {
        font-size: 18px;
        margin: 0 15px;
    }

    #main-header a:hover {
        color: #fff;
        transition: color 0.5s ease;
    }

    .brands {
        top: 83px;
    }

    .footer-container {
        padding: 24px;
    }

    footer h1 {
        margin: 16px;
    }

    footer li {
        margin: 12px;
    }

    .copyright {
        font-size: 16px;
        padding: 18px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    display: none;
}

.cart {
    width: 320px;
    height: 490px;
    position: fixed;
    background-color: whitesmoke;
    right: 22vw;
    top: 10vw;
    border-radius: 10px;
    padding: 15px;
    display: none;
    animation: animatezoom .6s;
    -webkit-animation: anima;
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.cart-items {
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    transition: .3s;
    background-color: whitesmoke;
    border-bottom: 1px solid grey;
}

.cart-items .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
}

.cart-items .item img {
    width: 37px;
}

.cart-items .item .item-details {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-bottom: 1px solid grey;
}

.cart-items .item .item-details .item-title {
    display: block;
    font-weight: 400;
    font-size: 12px;
    padding: 14px;
    cursor: pointer;
}

.cart-items .item .item-details .item-title:hover {
    color: #FF6700;
}

.cart-items .item .item-details .select-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-items .item .item-details .select-quantity .modify-quantity {
    font-size: 12px;
    text-align: center;
    padding: 2px;
}

.cart-items .item .item-details .select-quantity .modify-quantity:hover {
    color: #FF6700;
}

.cart-items .item .item-details .select-quantity .selector button {
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.cart-items .item .item-details .select-quantity .selector button.no-border {
    border: none;
    background: transparent;
}

.cart-items .item .item-details .select-quantity .selector .number {
    width: 25px;
    text-align: center;
    font-weight: 700;
}

.cart-items .item .item-details .select-quantity .selector .item-price {
    border: none;
    font-size: 12px;
    font-weight: 400;
    background: transparent;
    text-align: center;
    margin-left: 45px;
}

.cart-items .item .item-details .select-quantity .selector .item-price i {
    margin-left: 40px;
    cursor: pointer;
}

.order {
    border-bottom: 1px solid grey;
    width: 100%;
    height: 15%;
    margin-top: 15px;
}

.order .products-quantity {
    font-size: 12px;
    font-weight: 400;
}

.order .subtotal,
.order .shipping,
.totals .total-purchase {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.order .subtotal .subtotal-amount,
.order .shipping .shipping-cost {
    font-size: 12px;
    font-weight: 400;
}

.order .shipping .free-shipping {
    color: #08b525;
    font-weight: 700;
    font-size: 12px;
}

.order .shipping .shipping-truck {
    font-size: 13px;
    margin-right: 4px;
}


.totals .total-purchase .summary {
    font-size: 16px;
    font-weight: 700;
}

.totals .total-purchase .total-amount {
    font-size: 16px;
    font-weight: 700;
    color: #164194;
}

.buttons .btn-checkcart {
    display: flex;
    background-color: #164194;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    padding: 14px 21px;
    cursor: pointer;
    margin-top: 15px;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.buttons .btn-checkcart:hover {
    background-color: #666;
}