@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;700&family=Robotopresentation-Z:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

main>section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fran-title-s23-wide-container {
    position: relative;
    width: 100%;
    align-items: center;
    /* background-color: #f4f4f4;
    width: 70vw;
    border-radius: 15px; */
}

.fran-title-z-wide-container {
    background-color: #f4f4f4;
    width: 100%;
}

.fran-title-a-wide-container {
    background-color: #dddce1;
    width: 100%;
    overflow: hidden;
}

.fran-presentation-s23 video {
    width: 100%;
}

.fran-presentation-z video {
    width: 70%;
    margin-left: 15%;
}

/* .fran-presentation-a video {
    width: 100%;
    margin-left: 15%;
    height: 50vh;
} */

.grilla-articulos {
    display: flex;
    background-color: #ffffff;
    width: 90%;
    border-radius: 15px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    flex-flow: column wrap;
    box-sizing: border-box;
    
}

.productos-seleccionados {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(244, 238, 238, 0.599);
    color: #164194;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    max-width: 320px;
    max-height: 720px;
    box-sizing: border-box;
}

/* .ul-colores {
    flex-direction: row;
    column-gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
}

.ul-colores>a {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.ul-colores>a.black {
    background-color: #000;
}

.ul-colores>a.white {
    background-color: #fbf9f9;
    border: solid 2px black;
} */

.imagen-producto {
    width: 100%;
}

.boton-comprar {
    border-radius: 10px;
    background-color: #164194;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    margin: 5px auto;
    font-weight: bold;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
    max-width: 285px;
    box-sizing: border-box;
}

.boton-comprar:hover {
    background-color: #256af4;
}

.boton-detalle-producto {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    color: #164194;
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    margin: 5px auto;
    font-weight: bold;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}

.boton-detalle-producto:hover {
    background-color: #256af4;
    color: #ffffff;
}

.titulo-producto-seleccionado {
    font-size: 7vw;
    color: #000;
}

.opcion-colores {
    color: #000;
    font-weight: bold;
    font-size: 4vw;
}

.precio-producto {
    font-size: 8vw;
    color: #000;
}

.fran-banner img {
    width: 100%;
}

.fran-smartphone-title {
    color: #fff;
    font-size: 7vw;
    text-align: left;
    padding: 0 10vw;
    position: absolute;
}

.fran-smartphone-title.fran-z-title,
.fran-smartphone-title.fran-a-title {
    color: #000000;
}

.fran-presentation-a,
.fran-presentation-s23,
.fran-presentation-z {
    margin: 10px 0;
}

@media (min-width:481px) {
    .titulo-producto-seleccionado {
        font-size: 35px;
    }

    .precio-producto {
        font-size: 40px;
    }

    .boton-detalle-producto {
        font-size: 20px;
    }

    .boton-comprar{
        font-size: 20px;
    }

    .box-img-product{
        min-height: 350px;
    }

    .imagen-producto {
        width: 120%;
        height: 80%;
        margin-top: 30px;
        position: relative;
        left: -3.5vw;
        overflow: hidden;
    }
    
}
@media(min-width:769px) {
    .grilla-articulos {
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 20px;
     }
 
     .productos-seleccionados {
         flex-flow: row wrap;        
     }

     .boton-comprar{
        max-width: 500px;
    }
 }


@media(min-width:1280px) {
    
}