@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-y: scroll;
    background-color: #edededed;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////  CONTAINER CSS ////////////////////////////////////////////////////// */


.register-container {
    background-color: #fff;
    padding: 45px 10px;
    border-radius: 10px;
    padding-top: 20px;
    margin: 30px auto;
    width: 95%;
    max-width: 500px;

}

.register-container h1 {
    text-align: center;
    font-weight: 700px;
    margin: 50px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 30px;

}

.register-container h3 {
    width: 90%;
    text-align: left;
    margin: 0 auto;
}

.register-container .register-button {
    font-family: "roboto";
    background-color: #164194;
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    font-size: 17px;
    color: #ffffff;
    border-radius: 10px;
}

.register-button-container .open-login-button {
    color: #164194;
    font-size: 14px;
    text-decoration: underline;
    background: transparent;
    border: none;
    cursor: pointer;
}

#form-container p {
    font-size: 12px;
}

#form-container {
    text-align: center;
}



/* /////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////      USER DATA     //////////////////////////////////////////////////////// */

#preview-container {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('/imgs/profile-images/no-image-profile.jpg');
    background-size: contain;
}

input#profile-image{
    display: none;
}

#preview-container img{
    height: 100%;
    cursor: pointer;
  }

.user-data {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////// FORM USER DATA /////////////////////////////////////////////////////// */
.name-lastname,
.password,
.street-number,
.floor-door,
.city,
.province-postalcode,
.telephone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.sub-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 27px 11px 0px;
}

.sub-title .user {
    color: grey;
    font-size: 4.5vw;
    margin-left: 1vw;
}

.sub-title span {
    color: grey;
    margin-left: 10px;
    font-size: 3vw;
}

.login {
    display: none;
}

.log-in-btn {
    background-color: #164194;
    color: white;
    padding: 1vw;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    max-height: 27px;
    border: none;
    font-style: 100px;
}

.form-userdata,
.form-adress {
    margin: 2.5vw;
}

.form label {
    font-size: 2.5vw;
    display: inline-block;
    padding: 1vw 0vw;
}

.form-group {

    margin-bottom: 8px;
}


.form-group input {
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.name-lastname input,
.password input,
.street-number input,
.floor-door input,
.province-postalcode input {
    width: 48%;
    padding: 5px;
}

input[type="email"] {
    width: 100%;
}

#dni,
#city,
#telephone {
    width: 100%;
}

.date {
    display: flex;
    flex-direction: column;
}


.shipping-details {
    color: #f3f2f2;
    background-color: #164194;
    padding: 1.5vw 2vw;
    width: 100%;
    border-radius: 8px;
    text-align: center;
}

.shipping-details a {
    font-size: 14px;
}

.text-danger-container{
    display: flex;
    justify-content: space-around;
}

.text-danger{
    color: red;
}

.is-invalid {
    border: 1px solid red !important;
}


@media(min-height: 1000px) {
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (min-width: 481px) {
    .avatar img{
        width: 140px;
    }

    section.sub-title {
        padding: 27px 11px 0;
    }

    section.sub-title .user {
        font-size: 25px;
    }

    .shipping-details {
        padding: 7.2px 9.5px;
    }

    .user-data .form label {
        font-size: 14px;
    }

    .form-userdata,
    .form-adress {
        margin: 20px;
    }

}

/* /////////////////////////////////////////////////////////////////////////////////////// */