@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    position: sticky;
    z-index: 100;
    top: 0;
}

#main-header {
    background-color: #000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    height: 50px;
    position: relative;
}

.main-header-right {
    display: flex;
    justify-content: center;
    padding: 0 2vw;
    margin: 0 2vw 0 0;
}

.main-header-left {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    height: 100%;
}

a:has(#logo){
    align-self: center;
}

#logo {
    position: relative;
    z-index: 10000;
    align-self: center;
    width: 140px;
    margin-left: 2vw;
}

.left-list {
    list-style: none;
    display: none;
    position: relative;
}

.left-list div{
    display: flex;
    align-content: center;
    padding: 0 10px;
    height: 100%;
}

.right-list {
    list-style: none;
    display: flex;
}

.right-list li {
    margin: 8px;
}

.right-list i,
.right-list button {
    font-size: 20px;
}

#user {
    display: none;
}

.left-list button,
.right-list button {
    background-color: transparent;
    border: none;
    color: #ccc;
    transition: all 0.5s;
}

.left-list button:hover,
.right-list button:hover,
#main-header label:hover {
    color: #fff;
    cursor: pointer;
}

.brands {
    display: none;
}

#samsung {
    width: 27px;
    justify-self: start;
    padding: 0.5vw 0 0.5vw;
}

#apple {
    width: 24px;
    padding: 0.8vw 0 0.5vw;
}

/* SEARCHBAR */

.searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 45px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.searchbar-container form {
    width: 80%;
    max-width: 700px;
    text-align: center;
}

.searchbar-container div {
    padding: 10px;
    border-radius: 20px;
    background-color: whitesmoke;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
}

.searchbar-container input,
.searchbar-container button {
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
}

.searchbar-container input {
    width: 90%;
    color: #000;
    margin-left: 2vw;
}

.searchbar-container button {
    color: #666;
    margin-left: 1vw;
}

/* NAVBAR */

.right-floating-nav {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(0, 0, 0, 0.9);
    overflow-x: hidden;
    padding: 18% 0 0;
    opacity: 0;
    transition: 0.5s;
}

.right-floating-nav button,
a {
    background: none;
    text-decoration: none;
    border: none;
    font-size: 25px;
    color: #fff;
}

.right-floating-nav li:nth-child(5) {
    padding-bottom: 50px;
}

.right-floating-nav li {
    padding: 10px 5px;
    font-size: 25px;
    display: inline-block;
}

.right-floating-nav li:first-child {
    height: 12vh;
    align-self: stretch;
    text-align: end;
    margin: 0 auto;
    padding-right: 20px;
    width: 100%;
    max-width: 600px;
}

.fa-xmark {
    cursor: pointer;
}

/* DROPDOWN NAVBAR */

.drop-container{
    width: 100%;
    height: 0;
    opacity: 0;
    position: fixed;
    top: 50px;
    left: 0;
    background: #000;
    overflow: hidden;
    z-index: 10;
}

.dropdown{
    height: 0;
    opacity: 0;
    display: grid;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 80px;
    transition: 1s;
    z-index: 10;
} 

.dropdown a{
    font-size: 20px;
}


/* FOOTER */

footer {
    background-color: #fff;
    color: #444;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 3.8vw;
    max-width: 1300px;
    margin: 0 auto;
}

footer h1 {
    margin: 9px;
}

footer .footer-info {
    width: 80%;
}

footer .footer-info:first-child {
    padding: 18px 18px 0;
    max-width: 340px;
}

footer .footer-info:nth-child(2) {
    padding: 18px;
    max-width: 395px;
}

footer .footer-info:last-of-type {
    padding: 0 18px 18px;
    max-width: 340px;
}

footer ul {
    list-style: none;
}

footer a {
    color: #000;
    text-decoration: none;
    font-size: 3.8vw;
}

footer li {
    margin: 1.5vw;
}

.copyright {
    padding: 10px;
    text-align: left;
    font-weight: 200;
    font-size: 2.7vw;
    max-width: 1300px;
    margin: 0 auto;
}

/* CART */

::-webkit-scrollbar {
    display: none;
}

.cart {
    width: 90%;
    max-width: 350px;
    height: 0;
    position: absolute;
    background-color: whitesmoke;
    right: 5%;
    top: 55px;
    border-radius: 10px;
    padding: 0 15px;
    overflow: hidden;
    transition: 0.4s;
}

.cart-items {
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    transition: .3s;
    background-color: whitesmoke;
    border-bottom: 1px solid grey;
    padding-top: 10px;
}

.cart-items .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
}

.cart-items .item img {
    width: 37px;
}

.cart-items .item .item-details {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-bottom: 1px solid grey;
}

.cart-items .item .item-details .item-title {
    display: block;
    font-weight: 400;
    font-size: 12px;
    padding: 14px;
    cursor: pointer;
}

.cart-items .item .item-details .item-title:hover {
    color: #FF6700;
}

.cart-items .item .item-details .select-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-items .item .item-details .select-quantity .modify-quantity {
    font-size: 12px;
    text-align: center;
    padding: 2px;
}

.cart-items .item .item-details .select-quantity .modify-quantity:hover {
    color: #FF6700;
}

.cart-items .item .item-details .select-quantity .selector button {
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.cart-items .item .item-details .select-quantity .selector button.no-border {
    border: none;
    background: transparent;
}

.cart-items .item .item-details .select-quantity .selector .number {
    width: 25px;
    text-align: center;
    font-weight: 700;
}

.cart-items .item .item-details .select-quantity .selector .item-price {
    border: none;
    font-size: 12px;
    font-weight: 400;
    background: transparent;
    text-align: center;
    margin-left: 45px;
}

.cart-items .item .item-details .select-quantity .selector .item-price i {
    margin-left: 40px;
    cursor: pointer;
}

.order {
    border-bottom: 1px solid grey;
    width: 100%;
    height: 15%;
    margin-top: 15px;
}

.order .products-quantity {
    font-size: 12px;
    font-weight: 400;
}

.order .subtotal,
.order .shipping,
.totals .total-purchase {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.order .subtotal .subtotal-amount,
.order .shipping .shipping-cost {
    font-size: 12px;
    font-weight: 400;
}

.order .shipping .free-shipping {
    color: #08b525;
    font-weight: 700;
    font-size: 12px;
}

.order .shipping .shipping-truck {
    font-size: 13px;
    margin-right: 4px;
}


.totals .total-purchase .summary {
    font-size: 16px;
    font-weight: 700;
}

.totals .total-purchase .total-amount {
    font-size: 16px;
    font-weight: 700;
    color: #164194;
}

.buttons .btn-checkcart {
    display: flex;
    background-color: #164194;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    padding: 14px 21px;
    cursor: pointer;
    margin-top: 15px;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.buttons .btn-checkcart:hover {
    background-color: #666;
}
/* LOG IN */

#log-in-window h1 {
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.log-in-container {
    position: relative;
    animation: animatezoom 0.2s
}

.log-in-container .close-window {
    position: absolute;
    right: 15px;
    top: -10px;
    font-size: 20px;
    border: none;
    background: transparent;
}

#log-in-window {
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 10px;
    width: 95%;
    max-width: 350px;
    min-width: 266px;
    text-align: center;
    position: fixed;
    left: 2.5%;
    top: 10px;
    z-index: 50;
}

.log-in-form .group {
    position: relative;
    margin: 20px;
}

.log-in-form {
    width: 90%;
    margin: 0 auto;
}

.log-in-form input {
    background: none;
    color: #c6c6c6;
    font-size: 22px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #49454567;
}

.log-in-form .sesion-input label {
    position: static;
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
}

.log-in-form .sesion-input {
    text-align: center;
}

.log-in-form input:focus {
    outline: none;
    color: #666;
}

.log-in-form input[type="checkbox"] {
    display: inline-block;
    width: 12px;
}

.log-in-form .group>label {
    color: #49454567;
    font-size: 15px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.3s ease-in-out all;
    pointer-events: none;
}

.group input:focus~label,
.group input:valid~label {
    top: -14px;
    font-size: 10px;
    color: #164194;
}

.log-in-form .barra {
    position: relative;
    display: block;
    width: 100%;
}

.log-in-form .barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #164194, #31d8ff);
    transition: 0.3s ease width;
    left: 0;
}


input:focus~.barra::before {
    width: 100%;
}

.log-in-form button {
    background: #164194;
    border: none;
    display: block;
    width: 70%;
    margin: 10px auto;
    padding: 15px;
    font-size: 17px;
    color: #ffffff;
    border-radius: 10px;
}

.log-in-form p {
    font-size: 12px;
}

.log-in-form p a {
    color: #164194;
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media(min-width: 481px) {

    .main-header-right {
        padding: 10px;
        margin: 10px;
    }

    .right-list {
        padding: 10px 0 10px 10px;
        margin: 0 10px;
    }

    .searchbar-container{
        top: 49px;
    }

    .searchbar-container form {
        width: 70%;
    }

    .footer-container {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: start;
        padding: 2vw;
        font-size: 2.3vw;
    }

    .footer-container>section.footer-info {
        width: 30%;
        margin: 0;
        padding: 0;
    }

    footer .footer-info:nth-child(2) {
        width: 35%;
    }

    footer h1 {
        margin: 1.3vw;
    }

    footer a{
        font-size: 2.3vw;
    }

    footer li {
        margin: 1vw;
    }

    .copyright {
        width: 100%;
        font-size: 1.3vw;
        padding: 1.5vw;
    }

    .cart {
        right: calc(80px);
    }
}

@media(min-width: 768px) {

    #main-header {
        height: 6.55vw;
        width: 95%;
        max-height: 70px;
        margin: 0 auto;
    }

    .main-header-right {
        padding: 0 15.6px 0;
        margin: 0 15.6px 0;
    }

    #logo {
        width: 180px;
        margin: 0;
    }

    #user {
        display: inline-block;
    }

    #bars {
        display: none;
    }

    #main-header .left-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 450px;
        margin-left: 1.5vw;
    }

    .left-list button {
        font-size: 17px;
    }

    .searchbar-container{
        top: 5.5vw;
    }

    .brands {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 15px 0 0 15px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-items: center;
        position: fixed;
        top: 75px;
        right: 0;
        z-index: 100;
        width: 4vw;
        max-width: 50px;
        min-width: 35px;
    }


    .footer-container {
        font-size: 17px;
    }

    .footer-container a{
        font-size: 17px;
    }

    .right-floating-nav {
        padding: 0;
        height: 0;
        position: absolute;
        top: 6.9vw;
        right: 4.5vw;
        justify-content: end;
        background: rgba(0, 0, 0, 0.6);
    }

    .right-floating-nav li:nth-last-child(1),
    .right-floating-nav li:nth-last-child(2),
    .right-floating-nav li:nth-last-child(3),
    .right-floating-nav li:nth-last-child(4),
    .right-floating-nav li:nth-last-child(5),
    .right-floating-nav li:nth-last-child(6) {
        display: none;
    }

    .right-floating-nav li:first-child {
        align-self: stretch;
        text-align: end;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .cart {
        right: calc(90px);
        top: 6.9vw;
    }
}


@media(min-width: 1200px) {
    #main-header {
        max-height: 80px;
    }

    #logo {
        width: 200px;
        margin-left: 0;
    }

    .left-list button{
    font-size: 19px;
    }
    
    .left-list div{
        padding: 0 15px;
    }

    #main-header a:hover {
        color: #fff;
        transition: color 0.5s ease;
    }

    .searchbar-container{
        top: 78px;
    }

    .right-floating-nav,
    .cart {
        top: 85px;
    }

    .cart {
        right: 90px;
    }

    .brands {
        top: 83px;
    }

    .footer-container {
        padding: 24px;
    }

    footer h1 {
        margin: 16px;
    }

    footer li {
        margin: 12px;
    }

    .copyright {
        font-size: 16px;
        padding: 18px;
    }
}