<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-complete-purchase.css">
    <link rel="stylesheet" href="/css/styles-header.css">
</head>

<body>
    <%- include('../partials/header') %>

    <section class="purchase-content">
        <section class="cart-container">
            <section class="title">
                <h2>Compra rapida</h2>
                <h4>Revisa tu pedido</h4>
            </section>
            <section class="check-cart">
                
                <span class="cart-title"><i class="fa-solid fa-cart-shopping cart-icon" style="color: #ccd2db;"></i>RESUMEN DE PEDIDO</span>
            </section>

            <div class="cart-items p">
                <article class="item-p">
                    <img src="/imgs/cart/img-macbook-pro-2019.jpg" alt="">
                    <div class="item-details-p">
                        <span class="item-title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                        <div class="select-quantity">
                                <span class="select">
                                    <button class="no-border"><i class="fa-solid fa-minus modify-quantity"></i></button>
                                    <input type="text" value="1" class="number" disabled>
                                    <button class="no-border"><i class="fa-solid fa-plus modify-quantity"></i></button>
                                </span>
                                <span class="item-price">$ 25.000</span>
                                <button class="no-border"><i class="fa-regular fa-trash-can remove-item"></i></button>
                        </div>
                    </div>
                </article>

                <article class="item-p">
                    <img src="/imgs/cart/img-macbook-pro-2019.jpg" alt="">
                    <div class="item-details-p">
                        <span class="item-title-p">Lorem ipsum dolor</span>
                        <div class="select-quantity">
                                <span class="select">
                                    <button class="no-border"><i class="fa-solid fa-minus modify-quantity"></i></button>
                                    <input type="text" value="1" class="number" disabled>
                                    <button class="no-border"><i class="fa-solid fa-plus modify-quantity"></i></button>
                                </span>
                                <span class="item-price">$ 25.000</span>
                                <button class="no-border"><i class="fa-regular fa-trash-can remove-item"></i></button>
                        </div>
                    </div>
                </article>

                <article class="item-p">
                    <img src="/imgs/cart/img-macbook-pro-2019.jpg" alt="">
                    <div class="item-details-p">
                        <span class="item-title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam iusto
                            ipsam a optio libero consequuntur</span>
                        <div class="select-quantity">
                                <span class="select">
                                    <button class="no-border"><i class="fa-solid fa-minus modify-quantity"></i></button>
                                    <input type="text" value="1" class="number" disabled>
                                    <button class="no-border"><i class="fa-solid fa-plus modify-quantity"></i></button>
                                </span>
                                <span class="item-price">$ 25.000</span>
                                <button class="no-border"><i class="fa-regular fa-trash-can remove-item"></i></button>
                        </div>
                    </div>
                </article>

                <article class="item-p">
                    <img src="/imgs/cart/img-macbook-pro-2019.jpg" alt="">
                    <div class="item-details-p">
                        <span class="item-title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam iusto
                            ipsam a optio libero consequuntur</span>
                        <div class="select-quantity">
                                <span class="select">
                                    <button class="no-border"><i class="fa-solid fa-minus modify-quantity"></i></button>
                                    <input type="text" value="1" class="number" disabled>
                                    <button class="no-border"><i class="fa-solid fa-plus modify-quantity"></i></button>
                                </span>
                                <span class="item-price">$ 25.000</span>
                                <button class="no-border"><i class="fa-regular fa-trash-can remove-item"></i></button>
                        </div>
                    </div>
                </article>
            </div>
            <div class="order-purchase">
                <div class="subtotal-purchase">
                    <span class="products-quantity"> 3 articulos</span>
                    <span class="subtotal-amount"> $ 75.000</span>
                </div>
                <div class="shipping">
                    <span class="shipping-cost">Costo de envio</span>
                    <span class="free-shipping"><i
                            class="fa-solid fa-truck-fast fa-2xs shipping-truck"></i>Gratis</span>
                </div>
                <div class="totals-purchase">
                    <div class="total">
                        <span class="summary">Total</span>
                        <span class="total-amount"> $ 75.000</span>
                    </div>
                </div>
            </div>

        </section>

        <section class="user-data">
            <section class="sub-title">
                <i class="fa-solid fa-user user"></i>
                <span>Tus datos</span>
            </section>
            <div class="login"><button class="log-in-btn">¿Ya estás registrado?</button></div>
                <form class="form">
                    <div class="form-group name-lastname">
                        <input type="text" id="nombres" name="nombres" required placeholder="Nombres">
                        <input type="text" id="apellido" name="apellido" required placeholder="Apellido">
                    </div>
                    <div class="form-group email">
                        <input type="email" id="correo" name="correo" required placeholder="Email">
                    </div>
                    <div class="form-group password">
                        <input type="password" id="password" name="password" required placeholder="Contraseña">
                        <input type="password" id="confirm-password" name="confirm-password" required
                            placeholder="Confirma contraseña">
                    </div>
                </form>

                <h5 class="shipping-details"> <a data-toggle="collapse" aria-expanded="true"> Selecciona tu dirección de envío </a></h5>

            <div class="form">
                <form>
                    <div class="form-group dni">
                        <input type="dni" id="dni" name="dni" required placeholder="DNI">
                    </div>
                    <div class="form-group street-number">
                        <input type="street" id="street" name="street" required placeholder="Calle">
                        <input type="number" id="number" name="number" required placeholder="Altura">
                    </div>
                    <div class="form-group floor-door">
                        <input type="floor" id="floor" name="floor" required placeholder="Piso">
                        <input type="door" id="door" name="door" required placeholder="Departamento">
                    </div>
                    <div class="form-group city">
                        <input type="city" id="city" name="city" required placeholder="Ciudad">
                    </div>
                    <div class="form-group province-postalcode">
                        <input type="province" id="province" name="province" required placeholder="Provincia">
                        <input type="postalcode" id="postalcode" name="postalcode" required placeholder="Codigo Postal">
                    </div>
                    <div class="form-group telephone">
                        <input type="telephone" id="telephone" name="telephone" required placeholder="Telefono">
                    </div>
                </form>
            </div>
        </section>

        <div class="payment-method">
            <div class="option-1 payment-radio-option">
                <input type="radio" id="payment-option-1" name="payment-option" value="mercadopago">
                <img class="payment-img1" src="/imgs/cart/mpinfo_checkout.png" alt="">
                <div class="payment-content">
                    <span class="payment-title">TARJETAS DE CREDITO Y DEBITO</span>
                    <p>3, 6 y 12 cuotas sin interés con tarjetas seleccionadas. Para compras superiores a $10.000
                        recomendamos solicitar autorización previamente a su tarjeta de crédito.
                    </p>
                </div>
            </div>
            <div class="option-2 payment-radio-option">
                <input type="radio" id="payment-option-2" name="payment-option" value="mobbex">
                <img class="payment-img2" src="/imgs/cart/mobbex.jpeg" alt="">
                <div class="payment-content">
                    <span class="payment-title">Quiero pagar con Mercado Pago sin costo adicional.</span>
                    <p>NO APLICAN PROMOCIONES BANCARIAS DE LA WEB.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="floating-buttons" id="floating-buttons">
        <button onclick=""><i class="fa-solid fa-angle-left fa-xl"></i>Continuar Comprando</button>
        <!--en onclick va un metodo definido mediante js que dirija al html correspondiente-->
        <button onclick="">Finalizar Compra</button>
    </div>


</body>

</html>