<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/my-profile.css">
  <title>Perfil del Usuario - E-commerce</title>
</head>
<body>
  <header>
    <h1>Perfil del Usuario</h1>
  </header>
  <main>
    <div class="user-profile">
      <div class="avatar">
        <img src="foto.jpg" alt="Avatar del usuario">
      </div>
      <div class="user-details">
        <h2>Nombre del Usuario</h2>
        <p>Email: usuario@ejemplo.com</p>
        <p>Fecha de Nacimiento: 01/01/1990</p>
        <p>País: País del Usuario</p>
      </div>
    </div>
    <div class="order-history">
      <h2>Historial de Compras</h2>
      <ul>
        <li>
          <div class="order-item">
            <div class="order-image">
              <img src="bla.jpg" alt="Producto 1">
            </div>
            <div class="order-details">
              <p>Producto: Nombre del Producto 1</p>
              <p>Fecha de Compra: 01/07/2023</p>
              <p>Precio: $99.99</p>
            </div>
          </div>
        </li>
        <li>
          <div class="order-item">
            <div class="order-image">
              <img src="bla2.jpg" alt="Producto 2">
            </div>
            <div class="order-details">
              <p>Producto: Nombre del Producto 2</p>
              <p>Fecha de Compra: 15/06/2023</p>
              <p>Precio: $49.99</p>
            </div>
          </div>
        </li>
        <!-- más elementos de historial de compras -->
      </ul>
    </div>
  </main>
</body>
</html>
