<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/my-profile.css">
  <link rel="stylesheet" href="/css/styles-header.css">
  
</head>
<body>
    <%- include('../partials/header') %>
  <main>
    <button onclick="openForm()"><i class="fa-solid fa-pen-to-square"></i></button>
    <div class="user-profile">
      <div class="avatar">
        <img src="foto.jpg" alt="Avatar del usuario">
      </div>
      <div class="user-details">
        <h2>Nombre del Usuario</h2>
        <p>Email: usuario@ejemplo.com</p>
        <p>Fecha de Nacimiento: 01/01/1990</p>
        <p>País: País del Usuario</p>
      </div>
    </div>
    <div class="order-history">
      <h2>Historial de Compras</h2>
      <ul>
        <li>
          <div class="order-item">
            <div class="order-image">
              <img src="bla.jpg" alt="Producto 1">
            </div>
            <div class="order-details">
              <p>Producto: Nombre del Producto 1</p>
              <p>Fecha de Compra: 01/07/2023</p>
              <p>Precio: $99.99</p>
            </div>
          </div>
        </li>
        <li>
          <div class="order-item">
            <div class="order-image">
              <img src="bla2.jpg" alt="Producto 2">
            </div>
            <div class="order-details">
              <p>Producto: Nombre del Producto 2</p>
              <p>Fecha de Compra: 15/06/2023</p>
              <p>Precio: $49.99</p>
            </div>
          </div>
        </li>
        <!-- más elementos de historial de compras -->
      </ul>
    </div>
    <section class="form-popup" id="myForm">
        <section class="form-container" >
            <form action="/user/profile?_method=put" method="post" enctype="multipart/form-data">
                <i class="fa-solid fa-xmark" onclick="closeForm()"></i>
                <h1>Editar foto de perfil</h1>
                <img class="editing-picture" src="<%= user.profile %>" alt="">
                
                <input type="file" name="profilePic">
                
                <input type="submit" class="btn" name="updatePic" value="Actualizar">
            </form>
            <form action="/user/profile?_method=delete" method="post" enctype="multipart/form-data">
            <input type="submit" class="btn delete" name="deletePic" value="Eliminar">
            </form>
        </section>
    </section>
</main> 
<%- include('../partials/footer') %>
</body>
</html>
