<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-profile.css">
    <link rel="stylesheet" href="/css/styles-header.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="cover">
                <section class="profile-picture-container">
                    <img src="/imgs/profile-images/no-image-profile.jpg" alt="">
                </section>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>