<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/styles-register.css">
        <link rel="stylesheet" href="/css/styles-header.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

</head>

<body>
    <%- include('../partials/header') %>
        <main class="modal">
            <section class="register-container" id="form-container">

                <h1>Registro</h1>

                <section class="user-data">
                    <div class="form-userdata">
                
                        <div class="login"><button class="log-in-btn">¿Ya estás registrado?</button></div>
                        <form class="form" action="/user/register" method="post" enctype="multipart/form-data" id="profile-form">
                

                <%- include('../partials/formRegister') %>

                <button type="submit" class="register-button">Registrarte</button>
            </form>
    
        </div>
    
    </section>
    
    <section class="register-button-container">
    
    
        <p>Ya tengo cuenta! <a href="/user/login" class="open-login-button">Ingresar</a></p>
    </section>
    <script src="./js/main.js"></script>

                    <%- include('../partials/footer') %>
        </main>
        
        <script src="/js/main.js"></script>
</body>

</html>