<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
            <link rel="stylesheet" href="/css/styles-header.css">
            <link rel="stylesheet" href="/css/styles-profile.css">
    </head>
<body>
    <%- include('../partials/header') %>

    <%- include('../partials/formRegister') %>


    <%- include('../partials/footer') %>
</body>
</html>