<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-error404.css">
    <title>Error</title>
</head>
<body>
    <main class="main-error404">
        <img class="logo-error" src="/imgs/logo-iso/LogoTechHub_Negativo.png" alt="logo">
        <div class="text-container">
            <h1>Ups!</h1>
            <p>No pudimos encontrar la página solicitada</p>
            <p>Código de error: 404</p>
            <p>Aquí tienes algunos enlaces que pueden servirte de ayuda:</p>
            <a href="/">Home</a>
            <a href="/apple">Apple</a>
            <a href="/samsung">Samsung</a>
            <a href="/register">Regístrate</a>
        </div>
            <img src="/imgs/error/gif-error-404.gif" alt="gif">
    </main>
</body>
</html>