<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-header.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <h1>Error: Producto no disponible</h1>
    <p>Lo sentimos, el producto que estás buscando no está disponible en este momento.</p>
    <p>Por favor, intenta buscar otro producto o ponte en contacto con nuestro servicio de atención al cliente para
        obtener más información.</p>
</body>

</html>