@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.banner-list{
    overflow: hidden;
    background-color: #f4f4f4;
}

.presentation-product-container-samsung {
    overflow: hidden;
    background-color: #f4f4f4;
}
.presentation-product-container-apple {
    overflow: hidden;
    background-color: #fff;
}

.banner-list img {
    width: 210%;
    margin-left: -10%;
}

.banner-list video {
    width: 220%;
    margin-top: -55%;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    width: 100%;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.box-img-product {
    background: #fff;
}

.selected-products {
    overflow: hidden;
    width: 100%;
    border-radius: 7px;
    justify-content: center;
    text-align: center;
    color: #000;
    border: 1px solid rgba(244, 238, 238, 0.599);
}

.selected-products div:last-of-type {
    padding: 1.1vw;
}

.imagen-producto {
    width: 90%;
    padding: 1.5vw;
}

.product-title,
.product-price {
    font-size: 3.3vw;
    font-weight: 500;
}

.product-price {
    color: #164194;
    padding-top: 1vw;
}

.banner-list,
.presentation-product-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.presentation-product-container {
    padding-top: 20px;
}

.presentation-product-container video {
    width: 150%;
    margin-left: -50%;
}

.presentation-product-container img {
    width: 100%;
}

.presentation-product {
    position: relative;
    max-width: 1300px;
}

.smartphone-title-list{
    font-size: 7vw;
    position: absolute;
    top: 3%;
    left: 4%;
    z-index: 10;
}

.smartphone-title-list-apple{
    font-size: 7vw;
    position: absolute;
    top: -6%;
    left: 4%;
    z-index: 100;
    overflow: auto;
}

/* --------------------product-detail------------------------- */
.update-container {
    background-color: #ebebeb;
    position: sticky;
    top: 50px;
    z-index: 1;
}

.update-button {
    width: 100%;
    display: flex;
    justify-content: end;
    max-width: 1300px;
    margin: 0 auto;
}

.update-button button {
    margin: 10px;
    padding: 5px 7px;
    color: #fff;
    background: #164194;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
}

.update-button a {
    font-size: 15px;
}

.update-button button:hover {
    background: #666;
}

.title-selected-product {
    font-size: 8vw;
}

.selected-product-price {
    color: #164194;
}

.product-detail-container {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    max-width: 935px;
}

.img-container {
    width: 85%;
    max-width: 470px;
    margin: 5vw auto;
    position: relative;
    border-radius: 10px;
}

.img-container>img {
    background-color: #f5f5f7;
    width: 100%;
    margin: auto;
}

.small-imgs-slider {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.small-imgs-slider img {
    margin: 0 !important;
}

.small-imgs-slider>div {
    display: inline-block;
    width: 70px;
    background-color: #f5f5f7;
    overflow-x: scroll;
}

.small-imgs-slider>img {
    width: 21vw;
    margin: 0 auto;
    
}

.img-container .fa-chevron-right {
    right: 2vw;
}

.img-container .fa-chevron-left {
    left: 2vw;
}

.detail-container {
    width: 85%;
    max-width: 440px;
    margin: 0 auto;
    font-size: 7vw;
}

.selected-product-price {
    padding: 4vw 0;
}

.shipping-text {
    color: #164194;
    font-size: 4vw;
}

.shipping-text i {
    padding: 0 1vw;
}

.pick-color-smartphone {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 auto;
    width: 70%;
    padding: 10vw 0 5vw;
    max-width: 300px;
}

.option-color-smartphone {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 15px;
}

.color-s23-green {
    background-color: rgb(95, 100, 90);
}

.color-s23-phantom-black {
    background-color: rgb(33, 30, 22);
}

.color-s23-lavender {
    background-color: rgb(212, 199, 217);
}

.color-s23-cream {
    background-color: rgb(240, 234, 224);
}

.product-info {
    font-size: 3.4vw;
    padding: 5vw 0;
}

.floating-buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    margin: 0 auto;
    width: 95%;
    max-width: 1000px;
    padding: 3vw;
    border: solid 1px #ccc;
    border-radius: 7px;
    background: #fff;
}

.floating-buttons .button-link {
    width: 100%;
    margin: 0.5vw 0;
}

.floating-buttons button {
    color: #fff;
    width: 100%;
    font-size: 5vw;
    padding: 2vw;
    background: #164194;
    border-radius: 7px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}


.floating-buttons .button-link:hover button {
    background: #666;
}


footer.footer {
    margin-top: 30px;
    background-color: #ebebeb;
}

.pick-colors {
    margin-bottom: 20px;
}

.color-checkboxes {
    display: flex;
    align-items: center;
    gap: 10px;
    ;
}

.color-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
}

.color-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.color-circle-black {
    background-color: black;
}

.color-circle-white {
    background-color: white;
}

.color-circle-gold {
    background-color: gold;
}

.color-circle-silver {
    background-color: grey;
}

.color-circle-red {
    background-color: red;
}

.color-circle-green {
    background-color: green;
}

.color-circle-purple {
    background-color: purple;
}

.color-circle-cream {
    background-color: khaki;
}

.color-name {
    margin-left: 5px;
}

@media (width >=576px) {
    .products-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .product-title,
    .product-price {
        font-size: 2.3vw;
    }

    .banner-list img {
        width: 100%;
        margin-left: 0;
    }
    
    .banner-list video {
        width: 100%;
        margin-left: 0;
        margin-top: -25%;
    }

    .presentation-product-container-samsung{
        background-color: #f4f4f4;
    }

    .presentation-product-container-apple{
        background-color: #fff;
    }

    .presentation-product-container video {
        width: 100%;
        margin-left: 0;
    }

    /* ----------------------product-detail-------------------------------- */

    .small-imgs-slider>img {
        width: 101px;
        margin: 9.6px;
    }

    .product-detail-container {
        width: 481px;
    }

    .title-selected-product {
        font-size: 38px;
    }

    .selected-product-price {
        font-size: 33px;
        padding: 19px 0;
    }

    .shipping-text i {
        padding: 0 5px;
    }

    .detail-container .shipping-text {
        font-size: 19.5px;
    }

    .pick-color-smartphone {
        padding: 48px 0;
    }

    .option-color-smartphone {
        width: 33.66px;
        height: 33.66px;
    }

    .product-info {
        font-size: 16px;
        padding: 24px 0;
    }

    .floating-buttons {
        flex-flow: row wrap;
        max-height: 90px;
        padding: 9.62px;
    }

    .floating-buttons .button-link {
        width: 48%;
        margin: 0.5vw 1%;
    }

    .floating-buttons .button-link button {
        font-size: 24px;
        width: 100%;
        padding: 9.62px;
    }
}

@media(width >=768px) {
    .products-container {
        max-width: 850px;
        margin: 100px auto;
    }

    .selected-products {
        flex-flow: row wrap;
    }

    .product-title,
    .product-price {
        font-size: 18px;
    }

    .imagen-producto {
        padding: 11.5px;
    }

    .main-img, .small-imgs-slider:hover {
        cursor: pointer
    }

    .product-price {
        padding-top: 8px;
    }

    .selected-products div:last-of-type {
        padding: 9px;
    }

    /* ----------------------------- product-detail------------------------------ */

    .update-container {
        top: 6.55vw;
    }

    .update-button button {
        font-size: 17px;
        margin-right: 70px;
    }

    .product-detail-container {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        width: 90%;
    }

    .title-selected-product {
        font-size: 35px;
    }

    .img-container {
        width: 48%;
        margin: 0 10px 0 0;
    }

    .detail-container {
        width: 48%;
        margin-right: 0;
        margin-left: 10px;
    }
}

@media(width >=1200px) {
    .products-container {
        width: 80%;
        max-width: 1200px;
    }

    .smartphone-title-list {
        font-size: 80px;
        left: 0;
    }

    .imagen-producto {
        padding: 15px;
    }

    .product-title,
    .product-price {
        font-size: 20px;
    }

    /* -----------------product-detail---------------------- */

    .update-container {
        top: 80px;
    }
}