.navbar-nav {
    background-color: #164194 !important;
    display: block !important;
    width: 100% !important;
}

#wrapper{
    flex-direction: column;
}

.logo{
    width: 280px;
}

.card{
    width: 100% !important;
}

div.h5 {
    display: flex;
    justify-content: space-between;
}

.bg-gradient-secondary {
    background-color: #164194;
    background-image: none !important;
}

a.btn-danger{
    background-color: #164194;
    border: #164194 1px solid;
}

a.btn-danger:hover{
    background-color: #666;
    border: #666 1px solid;
}

h1.h3 {
    margin-top: 20px;
}

.productsInDB{
    background-color: #164194;
    border-radius: 10px;
    color: white;
    transition: 0.2s ease;
}

.productsInDB:hover{
    background-color: #666;
    border-radius: 10px;
    color: white;
}

div.text-xs{
    color: #164194 !important;
}

div.border-left-primary{
    border-left: .25rem solid #164194 !important;
}

.img-lastUser{
    width: 80% !important;
    margin: auto !important;
    max-width: 250px !important;
}

@media(width >= 481px){
    .product {
        width: 50% !important;
    }
}