<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/styles-header.css">
        <link rel="stylesheet" href="/css/styles-createProduct.css">
</head>

<body>

    <%- include('../partials/header') %>

        <main class="modal">
            <section class="form-container-create">
                <h1>Creá un nuevo producto</h1>
                <form action="/products/create" method="post" enctype="multipart/form-data">
                    <%- include('../partials/formProduct') %>
                    <section class="buttons">
                        <input type="submit" value="Crear producto">
                        <input type="reset" value="Restablecer">
                    </section>
                </form>
            </section>
        </main>
        <%- include('../partials/footer') %>
</body>



</html>