<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/styles-header.css">
        <link rel="stylesheet" href="/css/styles-createProduct.css">
</head>

<body>

    <%- include('../partials/header') %>

        <main>
            <section class="form-container-create">
                <h1>Creá un nuevo producto</h1>
                <form action="/product/create/" method="post">
                    <%- include('../partials/formProduct') %>
                </form>
            </section>
        </main>
</body>

<%- include('../partials/footer') %>

</html>