<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/styles-header.css">
        <link rel="stylesheet" href="/css/styles-createProduct.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main>
            <section class="form-container-create">
                <h1>Editá el producto</h1>
                <%- include('../partials/formProduct') %>
            </section>
        </main>
</body>

<%- include('../partials/footer') %>

</html>